@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
.main-servicios .hero-servicios h1, .main-catering .hero-catering h1, .main-salon .hero-salon h1, .main-index .hero h1 {
  color: white;
  font-size: 50px;
  font-weight: 150;
  border: 2px solid white;
  width: 50%;
  padding: 15px;
  margin: 70px;
  background-color: rgba(0, 0, 0, 0.4431372549);
  transition: 1s;
}
.main-servicios .hero-servicios h1:hover, .main-catering .hero-catering h1:hover, .main-salon .hero-salon h1:hover, .main-index .hero h1:hover {
  background-color: white;
  color: black;
  border: 2px double black;
  transform: scale(1.3);
  border-radius: 15px;
}

.main-servicios .hero-servicios h2, .main-servicios .info-servicios h2, .main-servicios .promo-infantil h2, .main-servicios .boda h2, .main-servicios .candybar-servicios h2, .main-catering .info-catering h2, .main-catering .candybar h2, .main-salon .galeria-salon h2, .main-salon .galeria-salon2 h2 {
  text-align: center;
  font-size: 25px;
  width: auto;
  padding: 15px;
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.4431372549);
  color: rgb(255, 255, 255);
  font-weight: 300;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  transition: 1s;
}
.main-servicios .hero-servicios h2:hover, .main-servicios .info-servicios h2:hover, .main-servicios .promo-infantil h2:hover, .main-servicios .boda h2:hover, .main-servicios .candybar-servicios h2:hover, .main-catering .info-catering h2:hover, .main-catering .candybar h2:hover, .main-salon .galeria-salon h2:hover, .main-salon .galeria-salon2 h2:hover {
  background-color: white;
  color: black;
  border: 2px double black;
  transform: scale(1.3);
  border-radius: 15px;
}

/* colores
/* CSS HEX 
--fuchsia: #ff00ffff;
--gold: #ffd200ff;
--rusian-violet: #220043ff;
--aureolin: #f5e100ff;
--dark-purple: #1e0925ff;
--raisin-black-2: #1a1b25ff;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
}

header {
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #170141;
  background: linear-gradient(359deg, #45006d 10%, #000000 130%);
  background: -webkit-linear-gradient(359deg, #45006d 10%, #000000 130%);
  background: -moz-linear-gradient(359deg, #45006d 10%, #000000 130%);
  color: white;
  height: 130px;
  border-bottom: 1px solid white;
}
header img {
  width: 150px;
  height: 150px;
  padding: 15px;
}
header nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav .boton {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
}
header nav .boton a {
  border: 1px solid white;
  padding: 13px;
  color: rgb(255, 255, 255);
  font-family: "Newsreader", serif;
  font-size: 15px;
  font-weight: 350;
  text-decoration: none;
  margin: 50px 20px 10px 20px;
  height: 50px;
  transition: 1s;
}
header nav .boton a:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
  border-radius: 15px;
}
header nav .boton a:active {
  border: 1px solid white;
  box-shadow: 0px 4px 20px -5px rgb(255, 255, 255);
  -webkit-box-shadow: 0px 4px 20px -5px rgb(255, 255, 255);
  -moz-box-shadow: 0px 4px 20px -5px rgb(255, 255, 255);
  padding: 13px;
  background-color: rgb(0, 0, 0);
  color: gold;
  font-family: "Newsreader", serif;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
}
header nav .dropdown {
  margin: 50px;
  display: none;
}
header nav .dropdown .btn {
  border: 1px solid white;
  padding: 13px;
  color: rgb(255, 255, 255);
  font-family: "Newsreader", serif;
  font-size: 15px;
  font-weight: 350;
  text-decoration: none;
  margin: 50px 20px 10px 20px;
  height: 50px;
  transition: 1s;
}
header nav .dropdown .btn:hover {
  color: rgb(255, 255, 255);
}
header nav .dropdown .dropdown-menu {
  border: 1px solid white;
  background-color: rgba(69, 0, 109, 0.8901960784);
  text-decoration: none;
}
header nav .dropdown .dropdown-menu li {
  padding: 10px;
  list-style: none;
  align-items: start;
  transition: 1s;
}
header nav .dropdown .dropdown-menu li:hover {
  background-color: rgba(0, 0, 0, 0.342);
}
header nav .dropdown .dropdown-menu li a {
  font-size: 15px;
  font-weight: 450;
  color: white;
  text-decoration: none;
}

.main-index .hero {
  text-align: center;
  height: 500px;
  background-image: url(../img/fondo-hero1.jpg);
  background-size: cover;
  background-attachment: local;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-index .hero div {
  background-color: rgba(0, 0, 0, 0.4431372549);
  width: 100%;
}
.main-index .hero div h2 {
  color: white;
  font-size: 30px;
  font-weight: 250;
  text-shadow: 1px 2px 16px rgb(0, 0, 0);
}
.main-index .hero div p {
  color: white;
  font-size: 25px;
  font-weight: 300;
  text-shadow: 2px 3px 16px #170141;
}
.main-index .galeria {
  background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  border-top: 14px solid #f0dd09;
  box-shadow: 10px 25px 5px -16px rgba(238, 255, 0, 0.28) inset;
  -webkit-box-shadow: 10px 25px 5px -16px rgba(238, 255, 0, 0.28) inset;
  -moz-box-shadow: 10px 25px 5px -16px rgba(238, 255, 0, 0.28) inset;
  padding: 15px;
  margin: 20px;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-index .galeria .texto1 {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-index .galeria .texto1 h2 {
  color: white;
  margin: 50px;
  font-family: "Newsreader", serif;
  font-style: italic;
  font-size: 30px;
  font-weight: 250;
}
.main-index .galeria .texto1 div p {
  color: white;
  font-size: 20px;
  font-weight: 300;
}
.main-index .galeria .tarjetas {
  margin: 70px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-index .galeria .tarjetas .grid-item img {
  height: 80%;
  width: 70%;
  box-shadow: 1px 0px 5px 5px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px 0px 5px 5px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px 0px 5px 5px rgba(255, 255, 255, 0.75);
  transition: 2s;
}
.main-index .galeria .tarjetas .grid-item img:active {
  height: 100%;
  width: 100%;
}
.main-index .galeria .tarjetas .grid-item h3 {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.4431372549);
  top: 560px;
}
.main-index .info {
  background-image: url(../img/fondo-desenfoque.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 15px;
  height: 600px;
  border: 2px solid white;
  width: 100%;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  box-shadow: 3px 3px 50px -8px rgb(255, 255, 255);
  -webkit-box-shadow: 3px 3px 50px -8px rgb(255, 255, 255);
  -moz-box-shadow: 3px 3px 50px -8px rgb(255, 255, 255);
}
.main-index .info h2 {
  margin: 50px;
  padding: 15px;
  color: white;
  font-size: 35px;
  font-weight: 200;
  text-shadow: 2px 2px 2px #e4d9ff;
  border: 3px double white;
  background-color: rgba(0, 0, 0, 0.4431372549);
  width: 50%;
  transition: all 1s;
}
.main-index .info h2:hover {
  transform: scale(1.2);
  background-color: white;
  color: black;
  border: 5px double black;
}
.main-index .info .tarjetas2 {
  display: flex;
  flex-direction: 0;
  justify-content: space-around;
  align-items: center;
}
.main-index .info .tarjetas2 div {
  background-color: rgba(0, 0, 0, 0.4431372549);
  opacity: 80%;
  margin: 20px;
  border: thick double white;
  box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.57);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.57);
  height: 300px;
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 2s;
}
.main-index .info .tarjetas2 div:hover {
  transform: scale(1.3);
}
.main-index .info .tarjetas2 div img {
  height: 20%;
  width: 20%;
}
.main-index .info .tarjetas2 h3 {
  font-size: 25px;
  font-weight: 250;
  padding: 20px;
  color: white;
  text-shadow: 1px 1px 1px #e4d9ff;
}
.main-index .info .tarjetas2 p {
  font-size: 12px;
  font-weight: 400;
  color: white;
  text-shadow: none;
  padding: 0px 10px 0px 10px;
}
.main-index .comida {
  background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-index .comida h2 {
  color: black;
  border: 10px double rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 35px;
  font-weight: 250;
  width: 40%;
  margin: 50px;
  padding: 20px;
  transition: 1s;
}
.main-index .comida h2:hover {
  border-radius: 50px;
  transform: scale(1.2);
}
.main-index .comida h3 {
  color: white;
  text-shadow: 1px 1px 1px gold;
  font-size: 25px;
  font-weight: 250;
}
.main-index .comida .comida1 {
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 80px;
}
.main-index .comida .comida1 div {
  text-align: justify;
  opacity: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 10px double rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.938);
  box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.57);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.57);
  height: 400px;
  width: auto;
  border-radius: 15px;
  margin: 0px 100px;
  transition: 1s;
}
.main-index .comida .comida1 div:hover {
  border-radius: 50px;
  transform: scale(1.2);
}
.main-index .comida .comida1 div:hover img {
  transition: 1s;
  border-radius: 40px;
}
.main-index .comida .comida1 div img {
  width: 100%;
  height: 220px;
}
.main-index .comida .comida1 div p {
  color: black;
  font-size: 100%;
  font-weight: 300;
}
.main-index .comida .comida1 div a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: black;
  border-radius: 5px;
  border: 2px, solid, rgb(0, 0, 0);
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.57);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.57);
  padding: 4px;
  transition: 2s;
}
.main-index .comida .comida1 div a:hover {
  background-color: rgba(255, 217, 0, 0.664);
  color: black;
  border-radius: 35px;
  width: 70%;
}
.main-index .opinioness {
  background-image: url(../img/fondo-desenfoque2.jpg);
  background-size: cover;
  border-top: 5px solid white;
  object-fit: cover;
  height: auto;
  display: flex;
  flex-direction: 0;
  justify-content: space-between;
  align-items: center;
}
.main-index .opinioness .opiniones {
  margin: 50px;
  text-align: center;
  padding: 50px 20px;
  background: black;
  background: linear-gradient(90deg, #000000 0%, #2f306a 80%);
  background: -webkit-linear-gradient(90deg, #000000 0%, #2f306a 80%);
  background: -moz-linear-gradient(90deg, #000000 0%, #2f306a 80%);
  border: 6px groove #ffffff;
  border-radius: 25px;
  opacity: 90%;
  height: 400px;
}
.main-index .opinioness .opiniones h2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: -35px;
  margin-bottom: 60px;
  color: white;
}
.main-index .opinioness .opiniones .opiniones-container {
  display: flex;
  flex-direction: 0;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.main-index .opinioness .opiniones .opiniones-container .opinion {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 3px groove #ffffff;
  padding: 20px;
  max-width: 450px;
  text-align: left;
  height: 200px;
}
.main-index .opinioness .opiniones .opiniones-container .opinion h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}
.main-index .opinioness .opiniones .opiniones-container .opinion .rating {
  color: #ffbc00;
  font-size: 1.1em;
}
.main-index .opinioness .opiniones .opiniones-container .opinion p {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  color: white;
}

.main-salon {
  background: #45006d;
  background: linear-gradient(91deg, #0b032c 50%, #dfba00 200%);
  background: -webkit-linear-gradient(91deg, #0b032c 50%, #dfba00 200%);
  background: -moz-linear-gradient(91deg, #0b032c 50%, #dfba00 200%);
}
.main-salon .hero-salon {
  background-image: url(../img/salon/herosalon2.jpg);
  background-attachment: fixed;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-salon .hero-salon p {
  background-color: rgba(0, 0, 0, 0.4431372549);
  font-size: 20px;
  font-weight: 350;
  margin-bottom: 30px;
  color: white;
  width: 100%;
}
.main-salon .galeria-salon {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  text-align: center;
  height: auto;
  background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
}
.main-salon .galeria-salon p {
  color: black;
  font-size: 20px;
  font-weight: 250;
  background-color: rgba(255, 255, 255, 0.836);
  border: 1px solid rgb(0, 0, 0);
  margin: 50px;
}
.main-salon .carousel-inner-salon {
  margin: 50px;
}
.main-salon .carousel-inner-salon img {
  margin-top: -50px;
  height: 400px;
  width: 100%;
  border-radius: 25px;
  border: 1px solid white;
  box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
}
.main-salon .galeria-salon2 {
  background-image: url(../img/salon/salon6.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-salon .galeria-salon2 .carta-salon {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
  width: 100%;
}
.main-salon .galeria-salon2 .carta-salon div img {
  box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
  border-radius: 25px;
  height: 500px;
}
.main-salon .galeria-salon2 .carta-salon div p {
  text-align: justify;
  padding: 10px;
  width: 350px;
  height: 500px;
  color: white;
  font-size: 110%;
  font-weight: 450;
  font-variant: small-caps;
  background-color: rgba(0, 0, 0, 0.4431372549);
  border: 2px solid white;
  border-radius: 25px;
  box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
  transition: 3s;
}
.main-salon .galeria-salon2 .carta-salon div p:hover {
  background-color: rgba(255, 255, 255, 0.692);
  color: black;
  transform: scale(1.1);
  border-radius: 45px;
}
.main-salon .muestra-salon {
  height: auto;
  background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  align-items: center;
}
.main-salon .muestra-salon .seccion-muestra {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: 0;
}
.main-salon .muestra-salon .seccion-muestra .tarjetas-muestra2 {
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: 0;
}
.main-salon .muestra-salon .seccion-muestra .tarjetas-muestra2 img {
  border: 3px solid white;
  border-radius: 25px;
  height: 75%;
  transition: 2s;
}
.main-salon .muestra-salon .seccion-muestra .tarjetas-muestra2 img:hover {
  border-radius: 50px;
  transform: scale(1.2);
}
.main-salon .muestra-salon .seccion-muestra p {
  margin-top: 50px;
  margin-right: 50px;
  color: white;
  text-align: justify;
  font-size: 12px;
  font-weight: 250;
  width: auto;
  height: 300px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4941176471);
  border: 2px solid white;
  transition: 2s;
}
.main-salon .muestra-salon .seccion-muestra p:hover {
  background-color: white;
  color: black;
  border: 2px solid gold;
}
.main-salon .info-salon {
  background-image: url(../img/salon/salon11.jpg);
  height: auto;
  color: white;
  display: flex;
}
.main-salon .info-salon .info-salon-0 {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 50px;
}
.main-salon .info-salon .info-salon-0 .info-salon-1 {
  background-color: rgba(0, 0, 0, 0.4431372549);
  box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
  -webkit-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
  border-radius: 35px;
  padding: 5px;
}
.main-salon .info-salon .info-salon-0 .info-salon-1 h2 {
  color: white;
  font-size: 30px;
  font-weight: 250;
}
.main-salon .info-salon .info-salon-0 .info-salon-1 p {
  color: white;
  font-size: 15px;
  font-weight: 300;
}
.main-salon .info-salon .info-salon-0 .info-salon-2 {
  background-color: rgba(0, 0, 0, 0.4431372549);
  box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
  -webkit-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
  border-radius: 35px;
  padding: 5px;
  height: 350px;
}
.main-salon .info-salon .info-salon-0 .info-salon-2 h3 {
  font-size: 45px;
  font-weight: 250;
}
.main-salon .info-salon .info-salon-0 .info-salon-2 p {
  color: white;
  font-size: 25px;
  font-weight: 300;
  padding: 0px;
  font-weight: 300;
}
.main-salon .info-salon .info-salon-0 .info-salon-3 {
  background-color: rgba(0, 0, 0, 0.4431372549);
  border-radius: 35px;
  box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
  -webkit-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
  padding: 5px;
  height: 200px;
}
.main-salon .info-salon .info-salon-0 .info-salon-3 h3 {
  font-weight: 250;
  font-size: 50px;
}
.main-salon .info-salon .info-salon-0 .info-salon-3 p {
  color: white;
  font-size: 25px;
  font-weight: 300;
  padding: 0px;
  font-weight: 300;
}

.main-catering {
  background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
}
.main-catering .hero-catering {
  background-image: url(../img/catering/hero-catering4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-catering .hero-catering p {
  color: white;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4431372549);
  border-top: 2px solid gold;
}
.main-catering .opciones {
  height: 600px;
  display: flex;
  flex-direction: 0;
  justify-content: space-around;
  align-items: center;
}
.main-catering .opciones .card {
  background-color: rgba(0, 0, 0, 0.699);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: 0;
  height: 430px;
  width: 402px;
  border: 2px solid white;
  transition: 2s;
  color: white;
  box-shadow: 2px 2px 2px 2px white;
}
.main-catering .opciones .card:hover {
  transform: scale(1.2);
  background-color: white;
  color: black;
}
.main-catering .opciones .card img {
  height: 260px;
  width: 400px;
  padding: 1px;
}
.main-catering .opciones .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-catering .opciones .card .card-body h5 {
  font-size: 25px;
  font-weight: 300;
}
.main-catering .opciones .card .card-body a {
  background-color: white;
  color: black;
  border: 1px solid #45006d;
  transition: 1s;
}
.main-catering .opciones .card .card-body a:hover {
  background-color: #45006d;
  color: white;
  transform: scale(1.2);
  border-radius: 25px;
}
.main-catering .info-catering {
  height: auto;
  color: white;
  font-weight: 350;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  border-top: 3px solid gold;
}
.main-catering .info-catering .info-catering1 {
  height: auto;
  background-color: black;
  border-bottom: 3px solid gold;
}
.main-catering .info-catering .info-catering1 h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 250;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4431372549);
  border-bottom: 2px solid gold;
}
.main-catering .info-catering .info-catering1 p {
  font-size: 15px;
  font-weight: 250;
}
.main-catering .info-catering .info-catering1 .img-catering {
  margin: 50px;
  display: flex;
  justify-content: space-around;
}
.main-catering .info-catering .info-catering1 .img-catering img {
  box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  height: 300px;
  width: 500px;
}
.main-catering .info-catering h3 {
  margin: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: 250;
  padding: 10px;
  font-weight: 250;
  background-color: rgba(0, 0, 0, 0.4509803922);
  border: 2px solid white;
  transition: 1s;
}
.main-catering .info-catering h3:hover {
  background-color: black;
  color: white;
  border: 2px double black;
  transform: scale(1.3);
  border-radius: 15px;
}
.main-catering .info-catering .grid-catering {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 450px 450px;
  border-bottom: 2px solid gold;
}
.main-catering .info-catering .grid-catering .item-catering1 {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
}
.main-catering .info-catering .grid-catering .item-catering1 p {
  font-size: 15px;
  font-weight: 250;
  text-align: justify;
  width: 70%;
}
.main-catering .info-catering .grid-catering .item-catering1 img {
  border-radius: 20px;
  box-shadow: 1px -1px 4px 2px gold;
  -webkit-box-shadow: 1px -1px 4px 2px gold;
  -moz-box-shadow: 1px -1px 4px 2px gold;
  height: 300px;
  width: 500px;
}
.main-catering .candybar {
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid gold;
}
.main-catering .candybar .info-candybar {
  text-align: center;
  font-size: 30px;
  font-weight: 250;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4431372549);
  border-bottom: 2px solid gold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main-catering .candybar .info-candybar h3 {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  font-weight: 250;
  background-color: rgba(0, 0, 0, 0.4431372549);
  border-bottom: 2px solid gold;
}
.main-catering .candybar .info-candybar p {
  font-size: 15px;
  font-weight: 250;
  text-align: justify;
  width: 70%;
}
.main-catering .candybar .info-candybar div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px;
  width: 100%;
}
.main-catering .candybar .info-candybar div img {
  box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  height: 300px;
  width: 500px;
}
.main-catering .candybar h3 {
  margin: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: 250;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4431372549);
  transition: 1s;
}
.main-catering .candybar h3:hover {
  background-color: white;
  color: black;
  border: 2px double black;
  transform: scale(1.3);
  border-radius: 15px;
}
.main-catering .candybar .grid-catering2 {
  font-size: 15px;
  font-weight: 250;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 450px 450px;
  border-bottom: 2px solid gold;
}
.main-catering .candybar .grid-catering2 .item-catering2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-catering .candybar .grid-catering2 .item-catering2 p {
  font-size: 15px;
  font-weight: 250;
  text-align: justify;
  width: 70%;
}
.main-catering .candybar .grid-catering2 .item-catering2 img {
  border-radius: 20px;
  box-shadow: 1px -1px 4px 2px gold;
  -webkit-box-shadow: 1px -1px 4px 2px gold;
  -moz-box-shadow: 1px -1px 4px 2px gold;
  height: 300px;
  width: 500px;
}

.main-servicios {
  height: auto;
  color: white;
  background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
  background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
}
.main-servicios .hero-servicios {
  background-image: url(../img/servicios/hero-servicios.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-servicios .hero-servicios h3 {
  font-size: 22px;
  font-weight: 300;
  text-shadow: 1px 1px 1px black;
  border-top: 3px solid white;
  background-color: rgba(0, 0, 0, 0.4431372549);
  width: 100%;
}
.main-servicios .info-servicios {
  height: auto;
  border-bottom: 5px solid gold;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
}
.main-servicios .info-servicios p {
  text-align: center;
  font-size: 15px;
  font-weight: 250;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4431372549);
  border: 2px solid rgb(255, 255, 255);
  width: 50%;
}
.main-servicios .servicios-infantiles {
  height: auto;
  width: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
}
.main-servicios .servicios-infantiles h2 {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 250;
  background-color: rgba(0, 0, 0, 0.4431372549);
  border: 1px solid white;
  padding: 20px;
  transition: 2s;
}
.main-servicios .servicios-infantiles h2:hover {
  background-color: white;
  color: black;
  border-radius: 35px;
}
.main-servicios .servicios-infantiles .tarjeta-infantil {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
}
.main-servicios .servicios-infantiles .tarjeta-infantil .fiesta-infantil {
  box-shadow: 1px -1px 5px 2px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px -1px 5px 2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px -1px 5px 2px rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  height: auto;
  width: auto;
  padding: 10px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.4431372549);
  border: 2px solid white;
  text-align: justify;
  transition: 2s;
}
.main-servicios .servicios-infantiles .tarjeta-infantil .fiesta-infantil:hover {
  background-color: rgba(255, 255, 255, 0.829);
  color: black;
  border: 2px solid black;
  transform: scale(1.1);
}
.main-servicios .servicios-infantiles .tarjeta-infantil .fiesta-infantil h3 {
  text-align: center;
  font-size: 15px;
  font-weight: 450;
  padding: 5px;
  border-bottom: 1px solid gold;
}
.main-servicios .servicios-infantiles .tarjeta-infantil .fiesta-infantil h4 {
  font-size: 15px;
  font-weight: 350;
  padding: 10px;
}
.main-servicios .servicios-infantiles .tarjeta-infantil .fiesta-infantil p {
  text-align: center;
  font-size: 15px;
  font-weight: 350;
  border-bottom: 1px solid gold;
}
.main-servicios .promo-infantil {
  background-image: url(../img/servicios/servicio1.jpg);
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  border-top: 5px solid gold;
  border-bottom: 5px solid gold;
}
.main-servicios .promo-infantil .promos {
  display: flex;
  flex-direction: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.main-servicios .promo-infantil .promos .promo1 {
  margin: 40px;
  border: 2px solid white;
  height: auto;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.4431372549);
  box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 2s;
}
.main-servicios .promo-infantil .promos .promo1:hover {
  background-color: rgba(255, 255, 255, 0.829);
  color: black;
  border: 2px solid black;
  transform: scale(1.1);
}
.main-servicios .promo-infantil .promos .promo1 h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 250;
  padding: 10px;
  border-bottom: 1px solid gold;
  width: 100%;
}
.main-servicios .promo-infantil .promos .promo1 h4 {
  font-size: 25px;
  font-weight: 350;
  padding: 10px;
  font-weight: 350;
}
.main-servicios .promo-infantil .promos .promo1 p {
  text-align: center;
  font-size: 20px;
  font-weight: 350;
  padding: 10px;
}
.main-servicios .promo-infantil .promos .promo1 h5 {
  font-size: 20px;
  font-weight: 350;
  padding: 10px;
}
.main-servicios .boda {
  background-image: url(../img/servicios/servicio2.jpg);
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid gold;
}
.main-servicios .boda div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: auto;
}
.main-servicios .boda div .evento1 {
  margin: 50px;
  background-color: rgba(0, 0, 0, 0.4431372549);
  height: auto;
  width: auto;
  box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}
.main-servicios .boda div .evento1:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transform: scale(1.1);
}
.main-servicios .boda div .evento1 h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 350;
  border-bottom: 1px solid gold;
  width: 100%;
  padding: 20px;
}
.main-servicios .boda div .evento1 h4 {
  font-size: 15px;
  font-weight: 350;
  text-decoration: underline 1px solid gold;
}
.main-servicios .boda div .evento1 p {
  text-align: justify;
  font-size: 10px;
  font-weight: 350;
  padding: 10px;
}
.main-servicios .boda div .evento1 h5 {
  font-size: 15px;
  font-weight: 350;
}
.main-servicios .candybar-servicios {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
}
.main-servicios .candybar-servicios div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: 0;
  margin: 30px;
  width: 90%;
}
.main-servicios .candybar-servicios div div {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: auto;
  width: 350px;
}
.main-servicios .candybar-servicios div div h5 {
  padding: 13px;
  font-size: 20px;
  color: #ffffff;
  border-bottom: 1px solid gold;
  height: 60px;
}
.main-servicios .candybar-servicios div div p {
  font-size: 80%;
  text-align: justify;
  width: 90%;
}
.main-servicios .info-final-servicios {
  height: auto;
  background-image: url(../img/servicios/servicio4.jpg);
  background-size: cover;
}
.main-servicios .info-final-servicios h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 250;
  background-color: rgba(0, 0, 0, 0.4431372549);
  border-bottom: 2px solid white;
  margin-bottom: 50px;
}
.main-servicios .info-final-servicios .flex-servicios {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
}
.main-servicios .info-final-servicios .flex-servicios div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: 0;
  width: 100%;
  margin: 20px;
}
.main-servicios .info-final-servicios .flex-servicios div .traer {
  border: 2px solid white;
  height: auto;
  background-color: rgba(0, 0, 0, 0.4431372549);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-servicios .info-final-servicios .flex-servicios div .traer h3 {
  text-align: center;
  font-size: 15px;
  font-weight: 350;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid gold;
}
.main-servicios .info-final-servicios .flex-servicios div .traer p {
  text-align: center;
  font-size: 15px;
  font-weight: 350;
}
.main-servicios .info-final-servicios .flex-servicios div .aparte {
  border: 2px solid white;
  height: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.4431372549);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-servicios .info-final-servicios .flex-servicios div .aparte h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 350;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid gold;
}
.main-servicios .info-final-servicios .flex-servicios div .aparte h4 {
  font-size: 10px;
}
.main-servicios .info-final-servicios .flex-servicios div .aparte p {
  text-align: center;
  font-size: 15px;
  font-weight: 350;
}
.main-servicios .info-final-servicios .flex-servicios .saber {
  border: 2px solid white;
  height: auto;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.4431372549);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.main-servicios .info-final-servicios .flex-servicios .saber h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 350;
  height: 60px;
  border-bottom: 1px solid gold;
  width: 100%;
}
.main-servicios .info-final-servicios .flex-servicios .saber h4 {
  font-size: 10px;
  font-weight: 350;
  height: 60px;
}
.main-servicios .info-final-servicios .flex-servicios .saber p {
  text-align: center;
  font-size: 15px;
  font-weight: 350;
}

.main-formulario {
  height: auto;
  background-image: url(../img/servicios/servicio5.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-formulario .hero-formulario {
  width: 75%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
}
.main-formulario .hero-formulario .hero-1 {
  margin: 50px;
  background-color: rgba(0, 0, 0, 0.4431372549);
  box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  border-radius: 25px;
}
.main-formulario .hero-formulario .hero-1 h1 {
  font-size: 35px;
  font-weight: 250;
}
.main-formulario .hero-formulario .hero-1 h2 {
  font-size: 20px;
  font-weight: 250;
}
.main-formulario .hero-formulario .hero-1 h3 {
  font-size: 25px;
  font-weight: 250;
}
.main-formulario .container-formulario {
  color: white;
  max-width: 700px;
  height: 550px;
  margin: 40px auto;
  padding: 20px;
  font-weight: 250;
  background-color: rgba(0, 0, 0, 0.4431372549);
  box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
  border-radius: 25px;
}
.main-formulario .container-formulario form {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: 0;
}
.main-formulario .container-formulario form label {
  color: white;
  font-size: 15px;
  font-weight: 350;
  margin-bottom: 5px;
}
.main-formulario .container-formulario form input {
  font-size: 12px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.main-formulario .container-formulario form textarea {
  font-size: 12px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}
.main-formulario .container-formulario form button {
  padding: 12px;
  font-size: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4431372549);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.main-formulario .container-formulario form buttonhover {
  background-color: rgba(0, 0, 0, 0.4431372549);
}

footer {
  background: #170141;
  background: linear-gradient(359deg, #45006d 10%, #000000 130%);
  background: -webkit-linear-gradient(359deg, #45006d 10%, #000000 130%);
  background: -moz-linear-gradient(359deg, #45006d 10%, #000000 130%);
  border-top: 5px solid rgb(255, 255, 255);
  opacity: 0.8;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .logof img {
  width: 150px;
  height: 150px;
}
footer .botonend {
  transition: 2s;
}
footer .botonend:link {
  color: white;
  border: 1px solid white;
  box-shadow: 0px 3px 23px 2px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 3px 23px 2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 3px 23px 2px rgba(255, 255, 255, 0.75);
  padding: 20px;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}
footer .botonend:visited {
  color: white;
  border: 1px solid white;
  box-shadow: 0px 3px 23px 2px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 3px 23px 2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 3px 23px 2px rgba(255, 255, 255, 0.75);
  padding: 20px;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
}
footer .botonend:hover {
  color: black;
  border: 1px solid white;
  box-shadow: 0px 3px 23px 2px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 3px 23px 2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 3px 23px 2px rgba(255, 255, 255, 0.75);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: 300;
  background-color: white;
}
footer .botonend:active {
  color: black;
  border: 1px solid white;
  box-shadow: 0px 3px 23px 2px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 3px 23px 2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 3px 23px 2px rgba(255, 255, 255, 0.75);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: 300;
  background-color: white;
}
footer .redes {
  display: flex;
  align-items: end;
  margin: 50px;
  justify-content: end;
}
footer .redes a img {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  margin: 20px;
  height: 50px;
  width: 50px;
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.57);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.57);
}

@media screen and (max-width: 1024px) {
  header nav .boton {
    display: flex;
    flex-direction: row;
  }
  header nav .boton a {
    font-size: 15px;
    margin: 10px;
  }
  .main-catering .info-catering .info-catering1 {
    height: 600px;
  }
  .main-salon .galeria-salon {
    height: auto;
  }
  .main-salon .muestra-salon .seccion-muestra p {
    width: 50%;
    font-size: 13px;
  }
  .main-salon .muestra-salon .seccion-muestra {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .main-salon .muestra-salon .seccion-muestra .tarjetas-muestra2 {
    height: 50%;
    width: 50%;
  }
  .main-salon .muestra-salon .seccion-muestra .tarjetas-muestra2 img {
    height: 100%;
    width: 100%;
  }
  .main-catering .info-catering .info-catering1 .img-catering img {
    height: 50%;
    width: 50%;
  }
  .main-catering .candybar .info-candybar div img {
    height: 49%;
    width: 49%;
  }
  .main-catering .info-catering .grid-catering .item-catering1 p {
    font-size: 13px;
  }
  .main-catering .info-catering .grid-catering .item-catering1 img {
    height: 70%;
    width: 80%;
  }
  .main-catering .info-catering .grid-catering2 .item-catering2 p {
    font-size: 13px;
  }
  .main-catering .candybar .grid-catering2 .item-catering2 img {
    height: 70%;
    width: 80%;
  }
  .main-catering .opciones .card img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 775px) {
  header {
    height: 120px;
  }
  header nav .boton {
    display: none;
  }
  header nav .boton a {
    margin: 2px;
    font-size: 10px;
  }
  header nav .dropdown {
    display: contents;
  }
  header nav ul li a:hover,
  a:active {
    margin: 0px;
    height: 1fr;
    font-size: 8px;
  }
  header nav ul li a:link,
  a:visited {
    margin: 0px;
    height: 1frw;
    font-size: 8px;
  }
  .main-index .hero {
    height: auto;
    /* Reduce la altura de la sección hero */
  }
  .main-index .hero h1 {
    font-size: 30px;
    /* Reduce el tamaño del texto */
  }
  .main-index .hero h2 {
    font-size: 15px;
  }
  .main-index .hero p {
    font-size: 15px;
  }
  .main-index .galeria {
    height: auto;
    /* Permite que la galería ajuste su altura */
    padding: 20px;
    /* Añade espacio alrededor */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main-index .tarjetas {
    grid-template-columns: 1fr;
    /* Muestra una tarjeta por fila en móviles */
    margin: 0;
    /* Elimina márgenes */
  }
  .main-index .info {
    height: auto;
  }
  .main-index .info .tarjetas2 {
    flex-direction: column;
    /* Cambia a columna para tarjetas en móviles */
    align-items: center;
  }
  .main-index .info h2 {
    font-size: 20px;
  }
  .main-index .info .tarjetas2 div {
    width: 60%;
  }
  .main-index .comida {
    height: auto;
  }
  .main-index .comida h2 {
    font-size: 20px;
  }
  .main-index .comida .comida1 {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin: 30px;
  }
  .main-index .comida .comida1 div {
    width: 60%;
    align-items: center;
    margin: 30px;
    height: 40%;
  }
  .main-index .comida .comida1 .texto2 {
    width: 100%;
    padding: 20px;
  }
  .main-index .opinioness {
    flex-direction: column;
    height: auto;
  }
  .main-index .opinioness .opiniones {
    height: auto;
  }
  .main-index .opinioness .opiniones .opiniones-container {
    flex-direction: column;
    /* Cambia a columna para contenedor de opiniones */
    align-items: center;
  }
  .main-index .opinioness .opiniones .opiniones-container .opinion p {
    font-size: 12px;
  }
  footer {
    flex-direction: column;
    /* Cambia a columna en el footer */
    height: auto;
    /* Ajusta la altura */
    align-items: center;
  }
  footer .redes {
    justify-content: center;
    /* Centra los íconos en el footer */
  }
  footer .redes a img {
    width: 50px;
    /* Reduce el tamaño de los íconos */
    height: 50px;
  }
  .main-salon {
    height: auto;
  }
  .main-salon .hero-salon {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .main-salon .hero-salon div {
    width: 70%;
  }
  .main-salon .hero-salon p {
    font-size: 15px;
  }
  .main-salon .hero-salon div h1 {
    font-size: 35px;
    width: 100%;
  }
  .main-salon .galeria-salon {
    height: auto;
  }
  .main-salon .galeria-salon h2 {
    font-size: 30px;
  }
  .main-salon .galeria-salon2 h2 {
    font-size: 20px;
  }
  .main-salon .galeria-salon2 .carta-salon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-salon .galeria-salon2 .carta-salon div img {
    display: none;
  }
  .main-salon .galeria-salon2 .carta-salon div p {
    font-size: 16px;
  }
  .main-salon .muestra-salon {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .main-salon .muestra-salon .seccion-muestra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .main-salon .muestra-salon .seccion-muestra p {
    width: 60%;
  }
  .main-salon .muestra-salon .seccion-muestra .tarjetas-muestra2 {
    margin: 60px;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  .main-salon .info-salon {
    height: auto;
  }
  .main-salon .info-salon .info-salon-0 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 50px;
  }
  .main-salon .info-salon .info-salon-0 .info-salon-1 {
    margin: 30px;
  }
  .main-salon .info-salon .info-salon-0 p {
    font-size: 15px;
  }
  .main-catering .hero-catering {
    height: 300px;
  }
  .main-catering .hero-catering h1 {
    font-size: 30px;
    width: 40%;
  }
  .main-catering .hero-catering p {
    font-size: 15px;
  }
  .main-catering .opciones {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .main-catering .opciones .card {
    margin: 30px;
  }
  .main-catering .info-catering .info-catering1 .img-catering {
    display: none;
  }
  .main-catering .info-catering h2 {
    font-size: 25px;
  }
  .main-catering .candybar h2 {
    font-size: 25px;
  }
  .main-catering .info-catering .grid-catering {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-catering .info-catering .grid-catering .item-catering1 {
    margin: 40px;
  }
  .main-catering .candybar .info-candybar div {
    display: none;
  }
  .main-catering .candybar .grid-catering2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-catering .candybar .grid-catering2 .item-catering2 {
    margin: 40px;
  }
  .main-catering .info-catering .info-catering1 {
    height: auto;
  }
  .main-servicios .hero-servicios div h1 {
    font-size: 45px;
    width: 100%;
  }
  .main-servicios .hero-servicios h2 {
    font-size: 30px;
    width: 30%;
  }
  .main-servicios .hero-servicios h3 {
    font-size: 18px;
  }
  .main-servicios .promo-infantil .promos {
    flex-direction: column;
  }
  .main-servicios .servicios-infantiles .tarjeta-infantil {
    display: flex;
    flex-direction: column;
  }
  .main-servicios .boda div {
    display: flex;
    flex-direction: column;
  }
  .main-servicios .candybar-servicios div {
    flex-direction: column;
    align-items: center;
  }
  .main-servicios .info-final-servicios div .traer h3 {
    font-size: 10px;
  }
  .main-formulario .hero-formulario .hero-1 h1 {
    font-size: 25px;
  }
  .main-formulario .hero-formulario .hero-1 h2 {
    font-size: 20px;
  }
  .main-formulario .hero-formulario .hero-1 h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  header {
    height: 120px;
  }
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav .dropdown .btn {
    height: 50%;
    width: 65%;
  }
  .main-index .galeria {
    margin-top: 0px;
    height: auto;
  }
  .main-index .comida {
    height: auto;
  }
  .main-salon .hero-salon {
    height: 300px;
  }
  .main-salon .hero-salon h1 {
    font-size: 25px;
  }
  .main-salon .hero-salon p {
    font-size: 10px;
  }
  .main-salon .muestra-salon .grid-muestra-salon1 .grid-muestra-salon2 .seccion-muestra .tarjetas-muestra2 {
    display: none;
  }
  .main-salon .galeria-salon2 {
    height: auto;
  }
  .main-salon .galeria-salon2 .carta-salon img {
    display: none;
  }
  .main-salon .galeria-salon2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-salon .galeria-salon2 .carta-salon div {
    align-items: center;
  }
  .main-salon .galeria-salon2 .carta-salon div p {
    font-size: 15px;
  }
  .main-salon {
    height: auto;
  }
  .main-salon .muestra-salon .seccion-muestra p {
    font-size: 10px;
    font-weight: 450;
  }
  .main-salon .info-salon {
    background-size: cover;
    height: auto;
  }
  .main-salon .info-salon .info-salon-0 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: top;
  }
  .main-salon .info-salon .info-salon-0 .info-salon-1 {
    margin: 20px;
  }
  .main-salon .info-salon .info-salon-0 .info-salon-1 h3 {
    font-size: 15px;
  }
  .main-salon .info-salon .info-salon-0 .info-salon-1 p {
    font-size: 15px;
  }
  .main-catering .opciones {
    display: none;
  }
  .main-catering .hero-catering h1 {
    font-size: 20px;
  }
  .main-catering .info-catering h2 {
    font-size: 15px;
  }
  .main-catering .candybar h2 {
    font-size: 15px;
  }
  .main-servicios .hero-servicios h1 {
    font-size: 25px;
  }
  .main-servicios .hero-servicios h2 {
    font-size: 15px;
  }
  .main-servicios .servicios-infantiles h2 {
    font-size: 20px;
  }
  .main-servicios .promo-infantil h2 {
    font-size: 20px;
  }
  .main-servicios .boda h2 {
    font-size: 20px;
  }
  .main-servicios .candybar-servicios h2 {
    font-size: 20px;
  }
  .main-servicios .info-final-servicios h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 410px) {
  .main-index .comida .comida1 div {
    width: 60%;
  }
}
@media screen and (max-width: 360px) {
  .main-index {
    height: auto;
  }
  .main-index .hero p {
    font-size: 10px;
  }
  .main-salon .opinioness {
    background-color: #c300ff;
    display: none;
  }
  .main-salon .info-salon {
    background-size: cover;
    height: auto;
  }
  .main-salon .info-salon .info-salon-0 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: top;
  }
  .main-salon .info-salon .info-salon-0 .info-salon-1 {
    margin: 20px;
  }
  .main-salon .info-salon .info-salon-0 .info-salon-1 h3 {
    font-size: 12px;
  }
  .main-salon .info-salon .info-salon-0 .info-salon-1 p {
    font-size: 10px;
  }
  .main-catering .hero-catering h1 {
    font-size: 15px;
  }
  .main-catering .hero-catering p {
    font-size: 10px;
  }
  .main-catering .info-catering h2 {
    font-size: 40px;
  }
  .main-catering .candybar h2 {
    font-size: 40px;
  }
  .main-catering .info-catering h2 {
    font-size: 20px;
    width: 70%;
  }
  .main-catering .candybar h2 {
    font-size: 20px;
    width: 70%;
  }
}

/*# sourceMappingURL=estilo.css.map */
