@use '../base/funcionalidades';
@use 'sass:list';

.main-catering {
    background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
    background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
    background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);

    .hero-catering {
        background-image: url(../img/catering/hero-catering4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        @include funcionalidades.flex(flex, column, space-between, center);

        h1 {
            @extend %h1;
        }

        p {
            color: list.nth(funcionalidades.$colores, 3);
            @include funcionalidades.font(20px, 300);
            width: 100%;
            background-color: list.nth(funcionalidades.$colores, 1);
            border-top: 2px solid gold;
        }
    }

    .opciones {
        height: 600px;
        @include funcionalidades.flex(flex, 0, space-around, center);

        .card {
            background-color: rgba(0, 0, 0, 0.699);
            @include funcionalidades.flex(flex, column, space-evenly, 0);
            height: 430px;
            width: 402px;
            border: 2px solid white;
            transition: 2s;
            color: list.nth(funcionalidades.$colores, 3);
            box-shadow: 2px 2px 2px 2px white;

            &:hover {
                transform: scale(1.2);
                background-color: list.nth(funcionalidades.$colores, 3);
                color: list.nth(funcionalidades.$colores, 5);
            }

            img {
                height: 260px;
                width: 400px;
                padding: 1px;
            }

            .card-body {
                @include funcionalidades.flex(flex, column, space-between, center);

                h5 {
                    font-size: list.nth(funcionalidades.$font-size, 4);
                    font-weight: 300;
                }

                a {
                    background-color: list.nth(funcionalidades.$colores, 3);
                    color: list.nth(funcionalidades.$colores, 5);
                    border: 1px solid #45006d;
                    transition: 1s;

                    &:hover {
                        background-color: list.nth(funcionalidades.$colores, 4);
                        color: list.nth(funcionalidades.$colores, 3);
                        transform: scale(1.2);
                        border-radius: 25px;
                    }
                }
            }
        }
    }

    .info-catering {
        height: auto;
        color: white;
        font-weight: 350;
        @include funcionalidades.flex(flex, column, 0, center);
        border-top: 3px solid gold;

        h2 {
            @extend %h2;
        }

        .info-catering1 {
            height: auto;
            background-color: list.nth(funcionalidades.$colores, 5);
            border-bottom: 3px solid gold;
            h3 {
                text-align: center;
                @include funcionalidades.font(20px, 250);
                padding: 10px;
                background-color: list.nth(funcionalidades.$colores, 1);
                border-bottom: 2px solid gold;
                }

            p {
                @include funcionalidades.font(15px, 250);
            }

            .img-catering {
                margin: 50px;
                display: flex;
                justify-content: space-around;

                img {
                    box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
                    -webkit-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
                    -moz-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
                    border-radius: 20px;
                    height: 300px;
                    width: 500px;
                }
            }
        }

        h3 {
            margin: 30px;
            text-align: center;
            @include funcionalidades.font(40px, 250);
            padding: 10px;
            font-weight: 250;
            background-color: #00000073;
            border: 2px solid white;
            transition: 1s;
            &:hover{
                background-color: list.nth(funcionalidades.$colores, 5);
                color: list.nth(funcionalidades.$colores, 3);
                border: 2px double black;
                transform: scale(1.3);
                border-radius: 15px;
            }
        }

        .grid-catering {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 450px 450px;
            border-bottom: 2px solid gold;

            .item-catering1 {
                @include funcionalidades.flex(flex, column, 0, center);
                p{
                    @include funcionalidades.font(15px, 250);
                    text-align: justify;
                    width: 70%;
                }
                img {
                    border-radius: 20px;
                    box-shadow: 1px -1px 4px 2px gold;
                    -webkit-box-shadow: 1px -1px 4px 2px gold;
                    -moz-box-shadow: 1px -1px 4px 2px gold;
                    height: 300px;
                    width: 500px;
                }
            }
        }
    }

    .candybar {
        height: auto;
        color: list.nth(funcionalidades.$colores, 3);
        @include funcionalidades.flex(flex, column, space-between, center);
        border-top: 3px solid gold;

        h2 {
        @extend %h2;
        }
            

        .info-candybar {
            text-align: center;
            @include funcionalidades.font(30px, 250);
            padding: 10px;
            background-color: list.nth(funcionalidades.$colores, 1);
            border-bottom: 2px solid gold;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            h3 {
                text-align: center;
                font-size: 30px;
                padding: 10px;
                font-weight: 250;
                background-color: list.nth(funcionalidades.$colores, 1);
                border-bottom: 2px solid gold;
            }
            p{
                @include funcionalidades.font(15px, 250);
                text-align: justify;
                width: 70%;
            
            }
            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                margin: 50px;
                width: 100%;

                img{
                    box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
                    -webkit-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
                    -moz-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
                    border-radius: 20px;
                    height: 300px;
                    width: 500px;
                }
            }
        }

        h3 {
            margin: 30px;
            text-align: center;
            @include funcionalidades.font(40px, 250);
            padding: 10px;     
            background-color: list.nth(funcionalidades.$colores, 1);
            transition: 1s;
            &:hover{
                background-color: white;
                color: list.nth(funcionalidades.$colores, 5);
                border: 2px double black;
                transform: scale(1.3);
                border-radius: 15px;
            }
        }

        .grid-catering2 {
            font-size: 15px;
            font-weight: 250;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 450px 450px;
            border-bottom: 2px solid gold;

            .item-catering2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    @include funcionalidades.font(15px, 250);
                    text-align: justify;
                    width: 70%;
                }
                img {
                    border-radius: 20px;
                    box-shadow: 1px -1px 4px 2px gold;
                    -webkit-box-shadow: 1px -1px 4px 2px gold;
                    -moz-box-shadow: 1px -1px 4px 2px gold;
                    height: 300px;
                    width: 500px;
                }
            }
        }
    }
}