@use '../base/funcionalidades';
@use 'sass:list';

.main-formulario {
    height: auto;
    background-image: url(../img/servicios/servicio5.jpg);
    background-size: cover;
    display: flex;
        flex-direction: column;
        align-items: center;

    .hero-formulario {
        width: 75%;
        color: list.nth(funcionalidades.$colores, 3);
        @include funcionalidades.flex(flex, column, 0, center);


        .hero-1 {
            margin: 50px;
            background-color: list.nth(funcionalidades.$colores, 1);
            box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
            -webkit-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
            -moz-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
            border-radius: 25px;

            h1 {
                @include funcionalidades.font(35px, 250);
            }

            h2 {
                @include funcionalidades.font(20px, 250);
            }

            h3 {
                @include funcionalidades.font(25px, 250);
            }
        }
    }

    .container-formulario {
        color: list.nth(funcionalidades.$colores, 3);
        max-width: 700px;
        height: 550px;
        margin: 40px auto;
        padding: 20px;
        font-weight: 250;
        background-color: list.nth(funcionalidades.$colores, 1);
        box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
        border-radius: 25px;

        form {
            @include funcionalidades.flex(flex, column, 0, 0);

            label {
                color: list.nth(funcionalidades.$colores, 3);
                @include funcionalidades.font(15px, 350);
                margin-bottom: 5px;
            }

            input {
                font-size: 12px;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            textarea {
                font-size: 12px;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 5px;
                resize: vertical;
            }

            button {
                padding: 12px;
                font-size: 12px;
                color: list.nth(funcionalidades.$colores, 3);
                background-color: list.nth(funcionalidades.$colores, 1);
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &hover {
                    background-color: list.nth(funcionalidades.$colores, 1);
                }
            }
        }
    }
}