@use '../base/funcionalidades';
@use '../base/generales';
@use 'sass:list';

.main-index {
    .hero {
        text-align: center;
        height: 500px;
        background-image: url(../img/fondo-hero1.jpg);
        background-size: cover;
        background-attachment: local;
        @include funcionalidades.flex(flex, column, space-between, center);
        h1 {
        @extend %h1;
        }

        div {
            
            background-color: list.nth(funcionalidades.$colores, 1);
            width: 100%;
            h2 {
                color: list.nth(funcionalidades.$colores, 3);
                @include funcionalidades.font(30px, 250);
                text-shadow: 1px 2px 16px rgb(0, 0, 0);
            }

            p {
                color: list.nth(funcionalidades.$colores, 3);
                @include funcionalidades.font(25px, 300);
                text-shadow: 2px 3px 16px #170141;
            }
        }
    }

    .galeria {
        background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        border-top: 14px solid #f0dd09ff;
        box-shadow: 10px 25px 5px -16px rgba(238, 255, 0, 0.28) inset;
        -webkit-box-shadow: 10px 25px 5px -16px rgba(238, 255, 0, 0.28) inset;
        -moz-box-shadow: 10px 25px 5px -16px rgba(238, 255, 0, 0.28) inset;
        padding: 15px;
        margin: 20px;
        height: auto;
        text-align: center;
        @include funcionalidades.flex(flex, column, space-between, center);
        

        .texto1 {
            height: auto;
            @include funcionalidades.flex(flex, column, space-between, center);
    

            h2 {
                color: list.nth(funcionalidades.$colores, 3);
                margin: 50px;
                font-family: "Newsreader", serif;
                font-style: italic;
                @include funcionalidades.font(30px, 250);
            }

            div {
                p {
                    color: list.nth(funcionalidades.$colores, 3);
                    @include funcionalidades.font(20px, 300);

                }
            }
        }

        .tarjetas {
            margin: 70px 0px 0px 0px;
            @include funcionalidades.flex(flex, row, space-between, center);
        

            .grid-item {
                img {
                    height: 80%;
                    width: 70%;
                    box-shadow: 1px 0px 5px 5px rgba(255, 255, 255, 0.75);
                    -webkit-box-shadow: 1px 0px 5px 5px rgba(255, 255, 255, 0.75);
                    -moz-box-shadow: 1px 0px 5px 5px rgba(255, 255, 255, 0.75);
                    transition: 2s;
                    &:active{
                        height: 100%;
                        width: 100%;
                    }
                }

                h3 {
                    position: absolute;
                    color: list.nth(funcionalidades.$colores, 3);
                    background-color: list.nth(funcionalidades.$colores, 1);
                    top: 560px;
                }
            }
        }
    }

    .info {
        background-image: url(../img/fondo-desenfoque.jpg);
        background-size: cover;
        background-attachment: fixed;
        padding: 15px;
        height: 600px;
        border: 2px solid white;
        width: 100%;
        border-radius: 15px;
        text-align: center;
        @include funcionalidades.flex(flex, column, 0, center);
        box-shadow: 3px 3px 50px -8px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 3px 3px 50px -8px rgba(255, 255, 255, 1);
        -moz-box-shadow: 3px 3px 50px -8px rgba(255, 255, 255, 1);


        h2 {
            margin: 50px;
            padding: 15px;
            color: list.nth(funcionalidades.$colores, 3);
            font-size: list.nth(funcionalidades.$font-size, 6);
            font-weight: 200;
            text-shadow: 2px 2px 2px #e4d9ff;
            border: 3px double white;
            background-color: #00000071;
            width: 50%;
            transition: all 1s;

            &:hover {
                transform: scale(1.2);
                background-color: white;
                color: list.nth(funcionalidades.$colores, 5);
                border: 5px double black;
            }
        }

        .tarjetas2 {
            @include funcionalidades.flex(flex, 0, space-around, center);
        

            div {
                background-color: list.nth(funcionalidades.$colores, 1);
                opacity: 80%;
                margin: 20px;
                border: thick double white;
                box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.57);
                -webkit-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.57);
                -moz-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.57);
                height: 300px;
                width: 20%;
                text-align: center;
                @include funcionalidades.flex(flex, column, space-between, center);
        
                transition: all 2s;

                &:hover {
                    transform: scale(1.3);
                }

                img {
                    height: 20%;
                    width: 20%;
                }
            }

            h3 {
                @include funcionalidades.font(25px, 250);
                padding: 20px;
                color: list.nth(funcionalidades.$colores, 3);
                text-shadow: 1px 1px 1px #e4d9ff;
            }

            p {
                @include funcionalidades.font(12px, 400);
                color: list.nth(funcionalidades.$colores, 3);
                text-shadow: none;
                padding: 0px 10px 0px 10px;
            }
        }
    }
    .comida {
        background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        height: auto;
        text-align: center;
        @include funcionalidades.flex(flex, column, space-between, center);
        
    
    
        h2 {
            color: list.nth(funcionalidades.$colores, 5);
            border: 10px double rgb(0, 0, 0);
            background-color: #ffffffcc;
            @include funcionalidades.font(35px, 250);
            width: 40%;
            margin: 50px;
            padding: 20px;
            transition: 1s;
    
            &:hover {
                border-radius: 50px;
                transform: scale(1.2);
            }
        }
    
        h3 {
            color: list.nth(funcionalidades.$colores, 3);
            text-shadow: 1px 1px 1px gold;
            @include funcionalidades.font(25px, 250);
        }
    
        .comida1 {
            height: auto;
            display: flex;
            justify-content: space-between;
            margin: 80px;
    
            div {
                text-align: justify;
                opacity: 90%;
                @include funcionalidades.flex(flex, column, space-between, center);
                border: 10px double rgb(0, 0, 0);
                background-color: rgba(255, 255, 255, 0.938);
                box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.57);
                -webkit-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.57);
                -moz-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.57);
                height: 400px;
                width: auto;
                border-radius: 15px;
                margin: 0px 100px;
                transition: 1s;
    
                &:hover {
                    border-radius: 50px;
                    transform: scale(1.2);
    
                    img {
                        transition: 1s;
                        border-radius: 40px;
                    }
                }
    
                img {
                    width: 100%;
                    height: 220px;
    
                }
    
                p {
                    color: list.nth(funcionalidades.$colores, 5);
                    @include funcionalidades.font(100%, 300);
                }
    
                a {
                    text-decoration: none;
                    @include funcionalidades.font(25px, 300);
                    padding: 10px;
                    margin: 10px;
                    text-align: center;
                    color: list.nth(funcionalidades.$colores, 5);
                    border-radius: 5px;
                    border: 2px, solid, rgb(0, 0, 0);
                    box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.57);
                    -webkit-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.57);
                    -moz-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.57);
                    padding: 4px;
                    transition: 2s;
    
                    &:hover {
                        background-color: rgba(255, 217, 0, 0.664);
                        color: list.nth(funcionalidades.$colores, 5);
                        border-radius: 35px;
                        width: 70%;
                    }
                }
            }
        }
    
    }
    
    
    .opinioness {
        background-image: url(../img/fondo-desenfoque2.jpg);
        background-size: cover;
        border-top: 5px solid white;
        object-fit: cover;
        height: auto;
        @include funcionalidades.flex(flex, 0, space-between, center);
    
        .opiniones {
            margin: 50px;
            text-align: center;
            padding: 50px 20px;
            background: list.nth(funcionalidades.$colores, 5);
            background: linear-gradient(90deg, #000000 0%, #2f306a 80%);
            background: -webkit-linear-gradient(90deg, #000000 0%, #2f306a 80%);
            background: -moz-linear-gradient(90deg, #000000 0%, #2f306a 80%);
            border: 6px groove #ffffff;
            border-radius: 25px;
            opacity: 90%;
            height: 400px;
    
            h2 {
                @include funcionalidades.font(30px, 300);
                margin-top: -35px;
                margin-bottom: 60px;
                color: list.nth(funcionalidades.$colores, 3);
            }
    
            .opiniones-container {
                @include funcionalidades.flex(flex, 0, space-between, center);
                gap: 15px;
    
                .opinion {
                    background-color: rgb(0, 0, 0);
                    border-radius: 10px;
                    border: 3px groove #ffffff;
                    padding: 20px;
                    max-width: 450px;
                    text-align: left;
                    height: 200px;
    
                    h3 {
                        font-size: 20px;
                        margin-bottom: 10px;
                        color: list.nth(funcionalidades.$colores, 3);
                    }
    
                    .rating {
                        color: #ffbc00;
                        font-size: 1.1em;
                    }
    
                    p {
                        @include funcionalidades.font(12px, 300);
                        line-height: 1.5;
                        color: white;
                    }
                }
            }
        }
    }
}


