@use '../base/funcionalidades';
@use 'sass:list';

.main-salon {
    background: list.nth(funcionalidades.$colores, 4);
    background: linear-gradient(91deg, #0b032c 50%, #dfba00 200%);
    background: -webkit-linear-gradient(91deg, #0b032c 50%, #dfba00 200%);
    background: -moz-linear-gradient(91deg, #0b032c 50%, #dfba00 200%);

    .hero-salon {
        background-image: url(../img/salon/herosalon2.jpg);
        background-attachment: fixed;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        @include funcionalidades.flex(flex, column, space-between, center);
            h1 {
            @extend %h1;
            }
    

        p {
            background-color: list.nth(funcionalidades.$colores, 1);
            @include funcionalidades.font(20px, 350);
            margin-bottom: 30px;
            color: list.nth(funcionalidades.$colores, 3);
            width: 100%;
        }
    }

    .galeria-salon {
        @include funcionalidades.flex(flex, column, 0, center);
        text-align: center;
        
        height: auto;
        background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);

        h2 {
        @extend %h2;
        }

        p {
            color: list.nth(funcionalidades.$colores, 5);
            @include funcionalidades.font(20px, 250);
            background-color: rgba(255, 255, 255, 0.836);
            border: 1px solid rgb(0, 0, 0);
            margin: 50px;
        }
    }

    .carousel-inner-salon {
        margin: 50px;
        img {
            margin-top: -50px;
            height: 400px;
            width: 100%;
            border-radius: 25px;
            border: 1px solid white;
            box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
        }
    }

    .galeria-salon2 {
        background-image: url(../img/salon/salon6.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: auto;
        @include funcionalidades.flex(flex, column, space-between, center);

        h2 {
            @extend %h2;
        }

        .carta-salon {
            @include funcionalidades.flex(flex, row-reverse, space-evenly, center);
            margin: 50px;
            width: 100%;

            div {
                img {
                    box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
                    border-radius: 25px;
                    height: 500px;
                }

                p {
                    text-align: justify;
                    padding: 10px;
                    width: 350px;
                    height: 500px;
                    color: list.nth(funcionalidades.$colores, 3);
                    @include funcionalidades.font(110%, 450);
                    font-variant: small-caps;
                    background-color: list.nth(funcionalidades.$colores, 1);
                    border: 2px solid white;
                    border-radius: 25px;
                    box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
                    transition: 3s;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.692);
                        color: list.nth(funcionalidades.$colores, 5);
                        transform: scale(1.1);
                        border-radius: 45px;
                    }
                }
            }
        }
    }

    .muestra-salon {
        height: auto;
        background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        align-items: center;
        
        
                .seccion-muestra {
                    @include funcionalidades.flex(flex, row, space-evenly, 0);
                    

                    .tarjetas-muestra2 
                    {
                    margin-top: 50px;
                    margin-left: 50px;
                    @include funcionalidades.flex(flex, row, space-between, 0);
                        img {
                            border: 3px solid white;
                            border-radius: 25px;
                            height: 75%;
                            transition: 2s;
                            &:hover{
                                border-radius: 50px;
                                transform: scale(1.2);
                            }
                        }
                    }

                    p {
                        margin-top: 50px;
                        margin-right: 50px;
                        color: list.nth(funcionalidades.$colores, 3);
                        text-align:justify;
                        @include funcionalidades.font(12px, 250);
                        width: auto;
                        height: 300px;
                        padding: 10px;
                        background-color: #0000007e;
                        border: 2px solid white;
                        transition: 2s;
                        &:hover{
                            background-color: white;
                            color: list.nth(funcionalidades.$colores, 5);
                            border: 2px solid gold;
                        }
                    }
                }
            
    }

    .info-salon {
        background-image: url(../img/salon/salon11.jpg);
        height: auto;
        color: list.nth(funcionalidades.$colores, 3);
        display: flex;

        .info-salon-0 {
            height: 600px;
            @include funcionalidades.flex(flex, column, space-between, center);
            text-align: center;
            margin: 50px;

            .info-salon-1 {
                background-color: list.nth(funcionalidades.$colores, 1);
                box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                -webkit-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                -moz-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                border-radius: 35px;
                padding: 5px;

                h2 {
                    color: list.nth(funcionalidades.$colores, 3);
                    @include funcionalidades.font(30px, 250);
                }

                p {
                    color: list.nth(funcionalidades.$colores, 3);
                    @include funcionalidades.font(15px, 300);
                }
            }

            .info-salon-2 {
                background-color: list.nth(funcionalidades.$colores, 1);
                box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                -webkit-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                -moz-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                border-radius: 35px;
                padding: 5px;
                height: 350px;

                h3 {
                    @include funcionalidades.font(45px, 250);
                }

                p {
                    color: list.nth(funcionalidades.$colores, 3);
                    @include funcionalidades.font(25px, 300);
                    padding: 0px;
                    font-weight: 300;
                }
            }

            .info-salon-3 {
                background-color: list.nth(funcionalidades.$colores, 1);
                border-radius: 35px;
                box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                -webkit-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                -moz-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                padding: 5px;
                height: 200px;

                h3 {
                    font-weight: 250;
                    font-size: list.nth(funcionalidades.$font-size, 9);
                }

                p {
                    color: list.nth(funcionalidades.$colores, 3);
                    @include funcionalidades.font(25px, 300);
                    padding: 0px;
                    font-weight: 300;
                }
            }
        }
    }
}
