.main-salon {
    background: #0b032c;
    background: linear-gradient(91deg, #0b032c 50%, #dfba00 200%);
    background: -webkit-linear-gradient(91deg, #0b032c 50%, #dfba00 200%);
    background: -moz-linear-gradient(91deg, #0b032c 50%, #dfba00 200%);

    .hero-salon {
        background-image: url(../img/salon/herosalon2.jpg);
        background-attachment: fixed;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        div {
            margin-top: 75px;
            border: 6px double white;
            background-color: #1b043552;
            width: 50%;
            transition: 1s;

            &:hover {
                background-color: white;
                color: black;
                border: 2px double black;
                transform: scale(1.3);
                border-radius: 15px;
            }

            h1 {
                font-size: 60px;
                font-weight: 250;
                color: white;
                text-shadow: -3px 1px 0px rgba(158, 17, 233, 0.6);
                transition: 1s;

            &:hover {
                background-color: white;
                color: black;
                border-radius: 15px;
            }

            }
        }

        p {
            background-color: #00000079;
            font-size: 20px;
            margin-bottom: 30px;
            font-weight: 350;
            color: rgb(255, 255, 255);
            width: 100%;
        }
    }

    .galeria-salon {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: auto;
        background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);

        h2 {
            color: white;
            background-color: #00000052;
            font-size: 35px;
            padding: 5px;
            font-weight: 200;
            border-top: 3px double white;
            border-bottom: 3px double white;
            width: 60%;
            margin: 40px;
        }

        p {
            color: rgb(0, 0, 0);
            font-size: 20px;
            font-weight: 250;
            background-color: rgba(255, 255, 255, 0.836);
            border: 1px solid rgb(0, 0, 0);
            margin: 50px;
        }
    }

    .carousel-inner-salon {
        margin: 50px;
        img {
            margin-top: -50px;
            height: 400px;
            width: 100%;
            border-radius: 25px;
            border: 1px solid white;
            box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
        }
    }

    .galeria-salon2 {
        background-image: url(../img/salon/salon6.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: white;
            font-size: 30px;
            padding: 5px;
            margin: 50px;
            border: 3px double white;
            width: 80%;
            background-color: rgba(0, 0, 0, 0.521);
        }

        .carta-salon {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            align-items: center;
            margin: 50px;
            width: 100%;

            div {
                img {
                    box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
                    border-radius: 25px;
                    height: 500px;
                }

                p {
                    text-align: justify;
                    padding: 10px;
                    width: 350px;
                    height: 500px;
                    color: white;
                    font-size: 110%;
                    font-variant: small-caps;
                    font-weight: 450;
                    background-color: #0000007e;
                    border: 2px solid white;
                    border-radius: 25px;
                    box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
                    transition: 3s;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.692);
                        color: black;
                        transform: scale(1.1);
                        border-radius: 45px;
                    }
                }
            }
        }
    }

    .muestra-salon {
        height: auto;
        background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
        align-items: center;
        
        
                .seccion-muestra {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    

                    .tarjetas-muestra2 
                    {
                    margin-top: 50px;
                    margin-left: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                        img {
                            border: 3px solid white;
                            border-radius: 25px;
                            height: 75%;
                            transition: 2s;
                            &:hover{
                                border-radius: 50px;
                                transform: scale(1.2);
                            }
                        }
                    }

                    p {
                        margin-top: 50px;
                        margin-right: 50px;
                        color: white;
                        text-align:justify;
                        font-size: 14px;
                        font-weight: 250;
                        width: auto;
                        height: 300px;
                        padding: 10px;
                        background-color: #0000007e;
                        border: 2px solid white;
                        transition: 2s;
                        &:hover{
                            background-color: white;
                            color: black;
                            border: 2px solid gold;
                        }
                    }
                }
            
    }

    .info-salon {
        background-image: url(../img/salon/salon11.jpg);
        height: auto;
        color: white;
        display: flex;

        .info-salon-0 {
            height: 600px;
            display: flex;
            text-align: center;
            align-self: center;
            justify-content: space-between;
            flex-direction: column;
            margin: 50px;

            .info-salon-1 {
                background-color: #000000b2;
                box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                -webkit-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                -moz-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                border-radius: 35px;
                padding: 5px;

                h2 {
                    color: white;
                    font-size: 30px;
                    font-weight: 250;
                }

                p {
                    color: white;
                    font-size: 15px;
                    font-weight: 300;
                }
            }

            .info-salon-2 {
                background-color: #000000b2;
                box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                -webkit-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                -moz-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                border-radius: 35px;
                padding: 5px;
                height: 350px;

                h3 {
                    font-weight: 250;
                    font-size: 50px;
                }

                p {
                    color: white;
                    font-size: 25px;
                    padding: 0px;
                    font-weight: 300;
                }
            }

            .info-salon-3 {
                background-color: #000000b2;
                border-radius: 35px;
                box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                -webkit-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                -moz-box-shadow: 0px 0px 4px 3px rgba(255, 215, 0, 0.75);
                padding: 5px;
                height: 200px;

                h3 {
                    font-weight: 250;
                    font-size: 50px;
                }

                p {
                    color: white;
                    font-size: 25px;
                    padding: 0px;
                    font-weight: 300;
                }
            }
        }
    }
}
