.main-servicios {
    height: auto;
    color: white;
    background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
    background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
    background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);

    .hero-servicios {
        background-image: url(../img/servicios/hero-servicios.jpg);
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        div {
            
            h1 {
            font-size: 40px;
            font-weight: 250;
            margin-top: 75px;
            border: 3px double white;
            background-color: #1b04355b;
            width: 100%;
            padding: 15px;
            transition: 2s;
            &:hover {
                background-color: white;
                color: black;
                border: 2px double black;
                transform: scale(1.3);
                border-radius: 15px;
            }    
            }
        }

        h2 {
            font-size: 25px;
            font-weight: 300;
            text-shadow: 1px 1px 1px black;
            border: 3px double white;
            background-color: #1b04355b;
            width: 20%;
        }

        h3 {
            font-size: 22px;
            font-weight: 300;
            text-shadow: 1px 1px 1px black;
            border-top: 3px solid white;
            background-color: #0000005b;
            width: 100%;
        }
    }

    .info-servicios {
        height: auto;
        border-bottom: 5px solid gold;
        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
            text-align: center;
            font-size: 30px;
            padding: 5px;
            margin: 50px;
            background-color: #ffffffb0;
            color: black;
            font-weight: 300;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 15px;
            box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.75);
        }

        p {
            text-align: center;
            font-size: 15px;
            padding: 10px;
            font-weight: 250;
            background-color: #000000b9;
            border: 2px solid rgb(255, 255, 255);
            width: 50%;
        }
    }

    .servicios-infantiles {
        height: auto;
        width: auto;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-top: 50px;
            font-size: 25px;
            font-weight: 250;
            background-color: #0000007a;
            border: 1px solid white;
            padding: 20px;
            transition: 2s;
            &:hover{
                background-color: white;
                color: black;
                border-radius: 35px;
            }
        }

        .tarjeta-infantil {
            margin: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: auto;


            .fiesta-infantil {
                box-shadow: 1px -1px 5px 2px rgba(255, 255, 255, 0.75);
                -webkit-box-shadow: 1px -1px 5px 2px rgba(255, 255, 255, 0.75);
                -moz-box-shadow: 1px -1px 5px 2px rgba(255, 255, 255, 0.75);
                border-radius: 25px;
                height: auto;
                width: auto;
                padding: 10px;
                margin: 20px;
                background-color: rgba(0, 0, 0, 0.637);
                border: 2px solid white;
                text-align: justify;
                transition: 2s;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.829);
                    color: black;
                    border: 2px solid black;
                    transform: scale(1.1);
                }

                h3 {
                    text-align: center;
                    font-size: 15px;
                    font-weight: 450;
                    padding: 5px;
                    border-bottom: 1px solid gold;

                }

                h4 {
                    font-size: 15px;
                    padding: 10px;
                    font-weight: 350;
                
                }

                p {
                    text-align: center;
                    font-size: 15px;
                    font-weight: 350;
                    border-bottom: 1px solid gold;
                
                
                }
            }
        }
    }

    .promo-infantil {
        background-image: url(../img/servicios/servicio1.jpg);
        background-size: cover;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 5px solid gold;
        border-bottom: 5px solid gold;

        h2 {
            font-size: 30px;
            font-weight: 250;
            background-color: #0000007a;
            border: 2px solid white;
            margin: 50px;
            width: 50%;
            transition: 2s;
            &:hover{
                background-color: white;
                color: black;
                border: 2px solid black;
                border-radius: 35px;
                transform: scale(1.3);
            }
        }

        .promos {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            .promo1 {
                margin: 40px;
                border: 2px solid white;
                height: auto;
                width: 300px;
                background-color: rgba(0, 0, 0, 0.589);
                box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
                -webkit-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
                -moz-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
                border-radius: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                transition: 2s;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.829);
                    color: black;
                    border: 2px solid black;
                    transform: scale(1.1);
                }

                h3 {
                    text-align: center;
                    font-size: 25px;
                    font-weight: 250;
                    padding: 10px;
                    border-bottom: 1px solid gold;
                    width: 100%;
                
                }

                h4 {
                    font-size: 25px;
                    padding: 10px;
                    font-weight: 350;
                }

                p {
                    text-align: center;
                    font-size: 20px;
                    font-weight: 350;
                    padding: 10px;
                
                }

                h5 {
                    font-size: 20px;
                    font-weight: 350;
                    padding: 10px;
                }
            }
        }
    }

    .boda {
        background-image: url(../img/servicios/servicio2.jpg);
        background-size: cover;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-bottom: 5px solid gold;
        h2{
            font-size: 35px;
            font-weight: 250;
            margin: 50px;
            padding: 15px;
            border: 2px solid white;
            background-color: #00000071;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 90%;
            height: auto;
        .evento1 {
            margin: 50px;
            background-color: #00000092;
            height: auto;
            width: auto;
            box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
            -webkit-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
            -moz-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            transition: 1s;
            &:hover{
                background-color: white;
                color: #000000;
                border: 2px solid black;
                transform: scale(1.1);
            }

            h3 {
                text-align: center;
                font-size: 18px;
                font-weight: 350;
                border-bottom: 1px solid gold;
                width: 100%;
                padding: 20px;
            
            }

            h4 {
                font-size: 15px;
                text-decoration: underline 1px solid gold;
                font-weight: 350;
            }

            p {
                text-align: justify;
                font-size: 10px;
                font-weight: 350;
                padding: 10px;
            
            }

            h5 {
                font-size: 15px;
                font-weight: 350;
                
            }
        }
        }
    }

    .candybar-servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            padding: 15px;
            font-size: 40px;
            font-weight: 250;
            background-color: #0000007a;
            border: 2px solid white;
            margin: 50px;
        }
        div{
            display: flex;
            margin: 30px;
            flex-direction: row;
            justify-content: space-evenly;
            width: 90%;
            div{
                border: 2px solid white;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                height: auto;
                width: 350px;
                    h5{
                        padding: 13px;
                        font-size: 20px;
                        color: #ffffff;
                        border-bottom: 1px solid gold;
                        height: 60px;
                    }
                    p{
                        font-size: 80%;
                        text-align: justify;
                        width: 90%;
                    }
                
            }
        }
    }

    .info-final-servicios {
        height: auto;
        background-image: url(../img/servicios/servicio4.jpg);
        background-size: cover;

        h2 {
            text-align: center;
            font-size: 50px;
            font-weight: 250;
            background-color: #000000c5;
            border-bottom: 2px solid white;
            margin-bottom: 50px;
        }

        .flex-servicios {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 100%;
            height: auto;
            align-items: center;
            div{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                margin: 20px;
                .traer {
                    border: 2px solid white;
                    height: auto;
                    background-color: #000000d2;
                    width: 400px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
    
                    h3 {
                        text-align: center;
                        font-size: 15px;
                        font-weight: 350;
                        height: 60px;
                        width: 100%;
                        border-bottom: 1px solid gold;
                    }
    
                    p {
                        text-align: center;
                        font-size: 15px;
                        font-weight: 350;
                    }
                }

                .aparte {
                    border: 2px solid white;
                    height: auto;
                    width: 400px;
                    background-color: #000000d2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
    
    
                    h3 {
                        text-align: center;
                        font-size: 20px;
                        font-weight: 350;
                        height: 60px;
                        width: 100%;
                        border-bottom: 1px solid gold;
                    }
    
                    h4 {
                        font-size: 10px;
                    }
    
                    p {
                        text-align: center;
                        font-size: 15px;
                        font-weight: 350;
                    }
                }
            }
    
            .saber {
                border: 2px solid white;
                height: auto;
                width: 80%;
                background-color: #000000d2;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: justify;

                h3 {
                    text-align: center;
                    font-size: 25px;
                    font-weight: 350;
                    height: 60px;
                    border-bottom: 1px solid gold;
                    width: 100%;
                }

                h4 {
                    font-size: 10px;
                    height: 60px;
                    font-weight: 350;
                }

                p {
                    text-align: center;
                    font-size: 15px;
                    font-weight: 350;
                }
            }

        }
    }
}