@use '../base/funcionalidades';
@use 'sass:list';

.main-servicios {
    height: auto;
    color: list.nth(funcionalidades.$colores, 3);
    background: radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
    background: -webkit-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);
    background: -moz-radial-gradient(ellipse farthest-side at center center, #45006d 0%, #000000 80%);

    .hero-servicios {
        background-image: url(../img/servicios/hero-servicios.jpg);
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include funcionalidades.flex(flex, column, space-between, center);

        
            h1 {
            @extend %h1; 
        }

        h2 {
        @extend %h2;
        }

        h3 {
            @include funcionalidades.font(22px, 300);
            text-shadow: 1px 1px 1px black;
            border-top: 3px solid white;
            background-color: list.nth(funcionalidades.$colores, 1);
            width: 100%;
        }
    }

    .info-servicios {
        height: auto;
        border-bottom: 5px solid gold;
        @include funcionalidades.flex(flex, column, 0, center);

        h2 {
            @extend %h2;
        }

        p {
            text-align: center;
            @include funcionalidades.font(15px, 250);
            padding: 10px;
            background-color: list.nth(funcionalidades.$colores, 1);
            border: 2px solid rgb(255, 255, 255);
            width: 50%;
        }
    }

    .servicios-infantiles {
        height: auto;
        width: auto;
        text-align: left;
        @include funcionalidades.flex(flex, column, 0, center);

        h2 {
            margin-top: 50px;
            @include funcionalidades.font(25px, 250);
            background-color: list.nth(funcionalidades.$colores, 1);
            border: 1px solid white;
            padding: 20px;
            transition: 2s;
            &:hover{
                background-color: list.nth(funcionalidades.$colores, 3);
                color: list.nth(funcionalidades.$colores, 5);
                border-radius: 35px;
            }
        }

        .tarjeta-infantil {
            margin: 30px;
            @include funcionalidades.flex(flex, row, space-evenly, center);
            width: auto;


            .fiesta-infantil {
                box-shadow: 1px -1px 5px 2px rgba(255, 255, 255, 0.75);
                -webkit-box-shadow: 1px -1px 5px 2px rgba(255, 255, 255, 0.75);
                -moz-box-shadow: 1px -1px 5px 2px rgba(255, 255, 255, 0.75);
                border-radius: 25px;
                height: auto;
                width: auto;
                padding: 10px;
                margin: 20px;
                background-color: list.nth(funcionalidades.$colores, 1);
                border: 2px solid white;
                text-align: justify;
                transition: 2s;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.829);
                    color: list.nth(funcionalidades.$colores, 5);
                    border: 2px solid black;
                    transform: scale(1.1);
                }

                h3 {
                    text-align: center;
                    @include funcionalidades.font(15px, 450);
                    padding: 5px;
                    border-bottom: 1px solid gold;

                }

                h4 {
                    @include funcionalidades.font(15px, 350);
                    padding: 10px;
                
                }

                p {
                    text-align: center;
                    @include funcionalidades.font(15px, 350);
                    border-bottom: 1px solid gold;
                
                
                }
            }
        }
    }

    .promo-infantil {
        background-image: url(../img/servicios/servicio1.jpg);
        background-size: cover;
        height: auto;
        @include funcionalidades.flex(flex, column, 0, center);
        border-top: 5px solid gold;
        border-bottom: 5px solid gold;

        h2 {
            @extend %h2;
        }

        .promos {
            @include funcionalidades.flex(flex, 0, space-around, center);
            width: 100%;

            .promo1 {
                margin: 40px;
                border: 2px solid white;
                height: auto;
                width: 300px;
                background-color: list.nth(funcionalidades.$colores, 1);
                box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
                -webkit-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
                -moz-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
                border-radius: 25px;
                @include funcionalidades.flex(flex, column, space-evenly, center);
                transition: 2s;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.829);
                    color: list.nth(funcionalidades.$colores, 5);
                    border: 2px solid black;
                    transform: scale(1.1);
                }

                h3 {
                    text-align: center;
                    @include funcionalidades.font(25px, 250);
                    padding: 10px;
                    border-bottom: 1px solid gold;
                    width: 100%;
                
                }

                h4 {
                    @include funcionalidades.font(25px, 350);
                    padding: 10px;
                    font-weight: 350;
                }

                p {
                    text-align: center;
                    @include funcionalidades.font(20px, 350);
                    padding: 10px;
                
                }

                h5 {
                    @include funcionalidades.font(20px, 350);
                    padding: 10px;
                }
            }
        }
    }

    .boda {
        background-image: url(../img/servicios/servicio2.jpg);
        background-size: cover;
        height: auto;
        @include funcionalidades.flex(flex, column, space-around, center);
        border-bottom: 5px solid gold;
        h2{
            @extend %h2;
        }
        div{
            @include funcionalidades.flex(flex, row, space-evenly, center);
            width: 90%;
            height: auto;
        .evento1 {
            margin: 50px;
            background-color: list.nth(funcionalidades.$colores, 1);
            height: auto;
            width: auto;
            box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
            -webkit-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
            -moz-box-shadow: 1px -1px 5px 3px rgba(255, 255, 255, 0.75);
            border-radius: 25px;
            @include funcionalidades.flex(flex, column, space-between, center);
            transition: 1s;
            &:hover{
                background-color: white;
                color: list.nth(funcionalidades.$colores, 5);
                border: 2px solid black;
                transform: scale(1.1);
            }

            h3 {
                text-align: center;
                @include funcionalidades.font(18px, 350);
                border-bottom: 1px solid gold;
                width: 100%;
                padding: 20px;
            
            }

            h4 {
                @include funcionalidades.font(15px, 350);
                text-decoration: underline 1px solid gold;
            }

            p {
                text-align: justify;
                @include funcionalidades.font(10px, 350);
                padding: 10px;
            
            }

            h5 {
                @include funcionalidades.font(15px, 350);
                
            }
        }
        }
    }

    .candybar-servicios {
        @include funcionalidades.flex(flex, column, 0, center);
        h2 {
            @extend %h2;
        }
        div{
            @include funcionalidades.flex(flex, row, space-evenly, 0);
            margin: 30px;
            width: 90%;
            div{
                border: 2px solid white;
                @include funcionalidades.flex(flex, column, start, center);
                height: auto;
                width: 350px;
                    h5{
                        padding: 13px;
                        font-size: 20px;
                        color: #ffffff;
                        border-bottom: 1px solid gold;
                        height: 60px;
                    }
                    p{
                        font-size: 80%;
                        text-align: justify;
                        width: 90%;
                    }
                
            }
        }
    }

    .info-final-servicios {
        height: auto;
        background-image: url(../img/servicios/servicio4.jpg);
        background-size: cover;

        h2 {
            text-align: center;
            @include funcionalidades.font(50px, 250);
            background-color: list.nth(funcionalidades.$colores, 1);
            border-bottom: 2px solid white;
            margin-bottom: 50px;
        }

        .flex-servicios {
            @include funcionalidades.flex(flex, column, space-evenly, center);
            width: 100%;
            height: auto;
            div{
                @include funcionalidades.flex(flex, row, space-evenly, 0);
                width: 100%;
                margin: 20px;
                .traer {
                    border: 2px solid white;
                    height: auto;
                    background-color: list.nth(funcionalidades.$colores, 1);
                    width: 400px;
                    @include funcionalidades.flex(flex, column, space-evenly, center);
    
                    h3 {
                        text-align: center;
                        @include funcionalidades.font(15px, 350);
                        height: 60px;
                        width: 100%;
                        border-bottom: 1px solid gold;
                    }
    
                    p {
                        text-align: center;
                        @include funcionalidades.font(15px, 350);
                    }
                }

                .aparte {
                    border: 2px solid white;
                    height: auto;
                    width: 400px;
                    background-color: list.nth(funcionalidades.$colores, 1);
                    @include funcionalidades.flex(flex, column, space-evenly, center);
    
    
                    h3 {
                        text-align: center;
                        @include funcionalidades.font(20px, 350);
                        height: 60px;
                        width: 100%;
                        border-bottom: 1px solid gold;
                    }
    
                    h4 {
                        font-size: 10px;
                    }
    
                    p {
                        text-align: center;
                        @include funcionalidades.font(15px, 350);
                    }
                }
            }
    
            .saber {
                border: 2px solid white;
                height: auto;
                width: 80%;
                background-color: list.nth(funcionalidades.$colores, 1);
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: justify;

                h3 {
                    text-align: center;
                    @include funcionalidades.font(25px, 350);
                    height: 60px;
                    border-bottom: 1px solid gold;
                    width: 100%;
                }

                h4 {
                    @include funcionalidades.font(10px, 350);
                    height: 60px;
                }

                p {
                    text-align: center;
                    @include funcionalidades.font(15px, 350);
                }
            }

        }
    }
}