@media screen and (max-width: 1596px) {

    header nav ul li a:hover,
    a:active {
        height: 50px;
        font-size: 15px;
    }

    header nav ul li a:link,
    a:visited {
        height: 50px;
        font-size: 15px;
    }


    .main-index .galeria {
        height: auto;
    }

    .main-index .galeria .tarjetas .oso {
        display: none;
    }

    .main-index .galeria .tarjetas {
        grid-template-columns: repeat(2, 1fr);
        /* Dos columnas en pantallas medianas */
    }

    .main-index .comida .comida1 {
        flex-direction: row;
        /* Mantiene la dirección en fila */
        justify-content: space-between;
        /* Espaciado entre elementos */
        gap: 25px;
    }

    .main-index .comida .comida1 div {
        width: 45%;
    }

    .main-index .opinioness {
        height: 900px;
    }

    .main-index .opinioness .opiniones {
        height: 750px;
    }

    .main-salon .galeria-salon {
        height: 1500px;
    }

    .main-salon .muestra-salon .grid-muestra-salon1 .grid-muestra-salon2 .seccion-muestra p {
        font-size: 20px;
    }

    .main-salon img {
        width: 90%;
    }

    .main-catering .candybar {
        height: auto;
    }

    .main-catering .candybar .info-candybar img {
        display: none;
    }

    .main-catering .info-catering .grid-catering .item-catering1 img {
        width: 80%;
    }

    .main-catering .candybar .grid-catering2 .item-catering2 img {
        width: 80%;
    }

    .main-catering .info-catering .info-catering1 .img-catering {
        display: none;
    }

    .main-catering .info-catering .info-catering1 {
        height: 500px;

    }

    .main-catering .info-catering {
        height: auto;

    }

    .main-servicios .info-servicios {
        height: auto;
    }

    .main-servicios .servicios-infantiles {
        height: auto;
    }

    .main-servicios .info-final-servicios .flex-servicios .saber {
        height: auto;
    }

    .main-servicios .info-final-servicios {
        height: auto;
    }

    .main-servicios .info-final-servicios .flex-servicios .aparte {
        height: auto;
    }

    .main-servicios {
        height: auto;
    }
    .main-servicios .servicios-infantiles .tarjeta-infantil .fiesta-infantil {
        height: auto;
    }

    .main-servicios .servicios-infantiles .tarjeta-infantil .fiesta-infantil p {
        margin: 15px;
        height: auto;
    }
    .main-servicios .boda{
        height: auto;
    }
    .main-servicios .boda .evento1 {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .main-servicios .boda .evento1 p{
        height: auto;
        margin: 15px;
    }
    .main-servicios .boda .evento2 {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .main-servicios .boda .evento2 p{
        height: auto;
        margin: 15px;
    }
    .main-servicios .promo-infantil{
        height: auto;
    }
    .main-servicios .candybar-servicios .flex-candy{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 
    .main-formulario{
        height: auto;
    }
}

@media screen and (max-width: 1130px) {

    .main-salon {
        height: 6600px;
    }

    header {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: start;
        height: 150px;
    }

    header nav ul li a:hover,
    a:active {
        height: 50px;
        font-size: 15px;
    }

    header nav ul li a:link,
    a:visited {
        height: 50px;
        font-size: 15px;
    }

    header img {
        display: none;
    }

    footer .botonend:hover,
    .botonend:active {
        font-size: 15px;
    }

    footer .botonend:link,
    .botonend:visited {
        font-size: 15px;
    }


    .main-index .comida {
        height: 1000px;
    }

    .main-index .comida .comida1 .texto2 {
        display: none;
    }

    .main-index .opinioness {
        height: 1150px;
    }

    .main-index .opinioness .opiniones {
        background-size: cover;
        height: 1100px;
        width: 80%;
    }

    .main-salon .muestra-salon .grid-muestra-salon1 .grid-muestra-salon2 .seccion-muestra p {
        font-size: 17px;
    }

    .main-salon .hero-salon {
        height: 200px;
    }

    .main-salon .hero-salon p {
        display: none;
    }

    .main-salon .hero-salon h1 {
        font-size: 45px;
    }


    .main-salon .galeria-salon2 .carta-salon div p {
        height: 700px;
        width: 400px;
    }

    .main-salon .galeria-salon2 .carta-salon p {
        font-size: 23px;
    }

    .main-salon .info-salon {
        height: 2000px;
        background-size: cover;
    }

    .main-salon .galeria-salon {
        height: 2200px;
    }

    .main-salon .info-salon .info-salon-0 {
        display: flex;
        flex-direction: column;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-1 {
        height: 600px;
        font-size: 15px;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-2 {
        height: 600px;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-3 {
        height: 600px;
    }

    .main-servicios .servicios-infantiles .tarjeta-infantil .fiesta-infantil {
        height: auto;
    }

    .main-servicios .servicios-infantiles .tarjeta-infantil .fiesta-infantil p {
        margin: 15px;
        height: auto;
    }
    .main-servicios .promo-infantil .promos .promo1 {
        height: auto;
    }
    .main-servicios .promo-infantil .promos .promo2 {
        height: auto;
    }
    .main-servicios .promo-infantil .promos .promo3 {
        height: auto;
    }
    .main-servicios .promo-infantil .promos .promo1 p{
        height: auto;
        margin: 15px;
    }
    .main-servicios .promo-infantil .promos .promo2 p{
        height: auto;
        margin: 15px;
    }
    .main-servicios .promo-infantil .promos .promo3 p{
        height: auto;
        margin: 15px;
    }
    
}

@media screen and (max-width: 930px) {
    header nav .boton{
        display: flex;
        flex-direction: row;
    }
    header nav .boton a{
        font-size: 15px;
        margin: 10px;
    }
    .main-catering .info-catering .info-catering1 {
        height: 600px;
    }
}

@media screen and (max-width: 775px) {
    header{
        height: 250px;
        
    }
    header nav .boton{
        display: grid;
        grid-template-columns: repeat(2, 1fr);  

    }
    header nav .boton a{
        margin: 2px;
        font-size: 10px;
    }

    header nav ul li a:hover,
    a:active {
        margin: 0px;
        height: 1fr;
        font-size: 8px;
    }

    header nav ul li a:link,
    a:visited {
        margin: 0px;
        height: 1frw;
        font-size: 8px;
    }

    .main-index .hero {
        height: 400px;
        /* Reduce la altura de la sección hero */
    }

    .main-index .hero h1 {
        font-size: 40px;
        /* Reduce el tamaño del texto */
    }

    .main-index .hero h2,
    .hero p {
        font-size: 30px;
        /* Ajusta tamaño de h2 y p */
    }

    .main-index .galeria {
        height: 1850px;
        /* Permite que la galería ajuste su altura */
        padding: 20px;
        /* Añade espacio alrededor */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .main-index .tarjetas {
        grid-template-columns: 1fr;
        /* Muestra una tarjeta por fila en móviles */
        margin: 0;
        /* Elimina márgenes */

    }

    .main-index .info {
        height: 1800px;
    }

    .main-index .info .tarjetas2 {
        flex-direction: column;
        /* Cambia a columna para tarjetas en móviles */
        align-items: center;
    }

    .main-index .comida {
        height: 1800px;
    }

    .main-index .comida .comida1 {
        flex-direction: column;
        /* Cambia a columna para la sección de comida */
        margin: 0;
        /* Elimina márgenes */
    }

    .main-index .comida .comida1 div {
        width: 100%;
        /* Ocupa el 100% del ancho en móviles */
        margin-bottom: 20px;
        /* Espaciado entre secciones */
    }

    .main-index .comida .comida1 .texto2 {
        width: 100%;

        padding: 20px;

    }

    .main-index .opinioness {
        flex-direction: column;
        height: 1600px;

    }

    .main-index .opinioness .opiniones {
        height: 1400px;
    }

    .main-index .opinioness .opiniones .opiniones-container {
        flex-direction: column;
        /* Cambia a columna para contenedor de opiniones */
        align-items: center;
    }

    footer {
        flex-direction: column;
        /* Cambia a columna en el footer */
        height: auto;
        /* Ajusta la altura */
        align-items: center;
    }

    footer .redes {
        justify-content: center;
        /* Centra los íconos en el footer */
    }

    footer .redes a img {
        width: 50px;
        /* Reduce el tamaño de los íconos */
        height: 50px;
    }

    .main-salon .galeria-salon {
        height: 2000px;
    }

    .main-salon .galeria-salon h2 {
        font-size: 30px;
    }

    .main-salon .info-salon {
        height: 1000px;
        background-size: cover;
    }

    .main-salon .info-salon .info-salon-0 p {
        margin-top: 0px;
        font-size: 18px;
    }

    .main-catering .info-catering .grid-catering {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-catering .candybar .grid-catering2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-catering .info-catering .info-catering1 {
        height: auto;
    }
    .main-servicios .hero-servicios h1 {
        font-size: 40px;
        width: 95%;
        
    }
    .main-servicios .hero-servicios h2 {
        font-size: 30px;
        
    }
    .main-servicios .promo-infantil .promos {
        flex-direction: column;
    }
    .main-servicios .servicios-infantiles .tarjeta-infantil{
        display: flex;
        flex-direction: column;
    }
    .main-servicios .boda{
        display: flex;
        flex-direction: column;
    }
    .main-servicios .info-servicios{
        display: none;
    }
    .main-servicios .hero-servicios div h1{
        font-size: 65px;
    }
}

@media screen and (max-width: 500px) {
    header {
        height: 251px;

    }

    .main-index .galeria {
        margin-top: 0px;
        height: 2000px;
    }

    .main-salon .hero-salon {
        height: 250px;
    }

    .main-salon .hero-salon h1 {
        font-size: 45px;
    }

    .main-salon .muestra-salon .grid-muestra-salon1 .grid-muestra-salon2 .seccion-muestra .tarjetas-muestra2 {
        display: none;
    }

    .main-salon .muestra-salon .grid-muestra-salon1 .grid-muestra-salon2 .seccion-muestra p {
        font-size: 13px;
    }

    .main-salon .galeria-salon2 {
        height: 1200px;
    }

    .main-salon .galeria-salon2 .carta-salon img {
        display: none;
    }

    .main-salon .galeria-salon2 .carta-salon div p {
        font-size: 20px;
        width: 320px;
    }

    .main-salon {
        height: 6900px;
    }

    .main-salon .info-salon {
        background-size: cover;
        height: 1700px;
    }

    .main-salon .info-salon .info-salon-0 {
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: top;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-1 {
        height: 850px;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-2 {
        height: 850px;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-3 {
        height: 850px;
    }

    .main-salon .opinioness {
        height: 2000px;
    }

    .main-salon .opinioness .opiniones {
        justify-content: space-between;
        height: 1800px;
    }

    .main-catering .opciones {
        display: none;
    }

    .main-catering .hero-catering h1 {
        font-size: 70px;
    }
    .main-servicios .hero-servicios div h1{
        font-size: 45px;
    }
}


@media screen and (max-width: 360px) {
    .main-index {
        height: 6000px;
    }

    .main-salon .opinioness {
        background-color: #c300ff;
        display: none;
    }


    .main-salon .info-salon {
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 3000px;
    }

    .main-salon .info-salon .info-salon-0 {
        margin: 0px;
        display: flex;
        flex-direction: column;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-1 {

        height: 950px;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-2 {
        height: 950px;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-3 {
        height: 950px;
    }

    .main-catering .hero-catering h1 {
        font-size: 50px;
    }

    .main-catering .hero-catering p {
        font-size: 30px;
    }

    .main-catering .info-catering h2 {
        font-size: 40px;
    }

    .main-catering .candybar h2 {
        font-size: 40px;
    }
}