@media screen and (max-width: 1024px) {
    header nav .boton {
        display: flex;
        flex-direction: row;
    }

    header nav .boton a {
        font-size: 15px;
        margin: 10px;
    }

    .main-catering .info-catering .info-catering1 {
        height: 600px;
    }

    .main-salon .galeria-salon {
        height: auto;
    }

    .main-salon .muestra-salon .seccion-muestra p {
        width: 50%;
        font-size: 13px;
    }

    .main-salon .muestra-salon .seccion-muestra {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .main-salon .muestra-salon .seccion-muestra .tarjetas-muestra2 {
        height: 50%;
        width: 50%;
    }

    .main-salon .muestra-salon .seccion-muestra .tarjetas-muestra2 img {
        height: 100%;
        width: 100%;
    }

    .main-catering .info-catering .info-catering1 .img-catering img {
        height: 50%;
        width: 50%;
    }

    .main-catering .candybar .info-candybar div img {
        height: 49%;
        width: 49%;
    }

    .main-catering .info-catering .grid-catering .item-catering1 p {
        font-size: 13px;

    }
    .main-catering .info-catering .grid-catering .item-catering1 img{
        height: 70%;
        width: 80%;

    }
    .main-catering .info-catering .grid-catering2 .item-catering2 p {
        font-size: 13px;

    }
    .main-catering .candybar .grid-catering2 .item-catering2 img{
        height: 70%;
        width: 80%;
    }
    .main-catering .opciones .card img{
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 775px) {
    header {
        height: 250px;

    }

    header nav .boton {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    header nav .boton a {
        margin: 2px;
        font-size: 10px;
    }

    header nav ul li a:hover,
    a:active {
        margin: 0px;
        height: 1fr;
        font-size: 8px;
    }

    header nav ul li a:link,
    a:visited {
        margin: 0px;
        height: 1frw;
        font-size: 8px;
    }

    .main-index .hero {
        height: auto;
        /* Reduce la altura de la sección hero */
    }

    .main-index .hero h1 {
        font-size: 30px;
        /* Reduce el tamaño del texto */
    }

    .main-index .hero h2 {
        font-size: 15px;
    }

    .main-index .hero p {
        font-size: 15px;
    }

    .main-index .galeria {
        height: auto;
        /* Permite que la galería ajuste su altura */
        padding: 20px;
        /* Añade espacio alrededor */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .main-index .tarjetas {
        grid-template-columns: 1fr;
        /* Muestra una tarjeta por fila en móviles */
        margin: 0;
        /* Elimina márgenes */

    }

    .main-index .info {
        height: auto;
    }

    .main-index .info .tarjetas2 {
        flex-direction: column;
        /* Cambia a columna para tarjetas en móviles */
        align-items: center;
    }

    .main-index .info h2 {
        font-size: 20px;
    }

    .main-index .info .tarjetas2 div {
        width: 60%;
    }

    .main-index .comida {
        height: auto;
    }

    .main-index .comida h2 {
        font-size: 20px;
    }

    .main-index .comida .comida1 {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;

    }

    .main-index .comida .comida1 div {
        width: 60%;
        align-items: center;

        height: 40%;

    }

    .main-index .comida .comida1 .texto2 {
        width: 100%;

        padding: 20px;

    }

    .main-index .opinioness {
        flex-direction: column;
        height: auto;

    }

    .main-index .opinioness .opiniones {
        height: auto;
    }

    .main-index .opinioness .opiniones .opiniones-container {
        flex-direction: column;
        /* Cambia a columna para contenedor de opiniones */
        align-items: center;
    }

    .main-index .opinioness .opiniones .opiniones-container .opinion p {
        font-size: 12px;
    }

    footer {
        flex-direction: column;
        /* Cambia a columna en el footer */
        height: auto;
        /* Ajusta la altura */
        align-items: center;
    }

    footer .redes {
        justify-content: center;
        /* Centra los íconos en el footer */
    }

    footer .redes a img {
        width: 50px;
        /* Reduce el tamaño de los íconos */
        height: 50px;
    }

    .main-salon {
        height: auto;
    }

    .main-salon .hero-salon {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }

    .main-salon .hero-salon div {

        width: 70%;
    }

    .main-salon .hero-salon p {
        font-size: 15px;
    }

    .main-salon .hero-salon div h1 {
        font-size: 35px;
        width: 100%;
    }

    .main-salon .galeria-salon {
        height: auto;
    }

    .main-salon .galeria-salon h2 {
        font-size: 30px;
    }

    .main-salon .galeria-salon2 h2 {
        font-size: 20px;
    }

    .main-salon .galeria-salon2 .carta-salon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-salon .galeria-salon2 .carta-salon div img {
        display: none;
    }

    .main-salon .galeria-salon2 .carta-salon div p {
        font-size: 16px;
    }

    .main-salon .muestra-salon {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .main-salon .muestra-salon .seccion-muestra {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .main-salon .muestra-salon .seccion-muestra p {

        width: 60%;
    }

    .main-salon .muestra-salon .seccion-muestra .tarjetas-muestra2 {
        margin: 60px;
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .main-salon .info-salon {
        height: auto;
    }

    .main-salon .info-salon .info-salon-0 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .main-salon .info-salon .info-salon-0 p {
        font-size: 15px;
    }
    .main-catering .hero-catering{
        height: 300px;
    }
    .main-catering .hero-catering h1{
        font-size: 30px;
        width: 40%;
    }
    .main-catering .hero-catering p{
        font-size: 15px;
    
    }

    .main-catering .info-catering .info-catering1 .img-catering{
        display: none;
    }
    .main-catering .info-catering h2{
        font-size: 25px;
    }
    .main-catering .candybar h2{
        font-size: 25px;
    }
    .main-catering .info-catering .grid-catering {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .main-catering .candybar .info-candybar div{
        display: none;
    }
    .main-catering .candybar .grid-catering2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-catering .info-catering .info-catering1 {
        height: auto;
    }

    .main-servicios .hero-servicios h1 {
        font-size: 40px;
        width: 95%;

    }

    .main-servicios .hero-servicios h2 {
        font-size: 30px;

    }

    .main-servicios .promo-infantil .promos {
        flex-direction: column;
    }

    .main-servicios .servicios-infantiles .tarjeta-infantil {
        display: flex;
        flex-direction: column;
    }

    .main-servicios .boda {
        display: flex;
        flex-direction: column;
    }

    .main-servicios .info-servicios {
        display: none;
    }

    .main-servicios .hero-servicios div h1 {
        font-size: 65px;
    }
}

@media screen and (max-width: 500px) {
    header {
        height: 251px;

    }

    .main-index .galeria {
        margin-top: 0px;
        height: auto;
    }

    .main-index .comida {
        height: auto;
    }

    .main-salon .hero-salon {
        height: 300px;
    }

    .main-salon .hero-salon h1 {
        font-size: 25px;
    }

    .main-salon .hero-salon p {
        font-size: 10px;
    }

    .main-salon .muestra-salon .grid-muestra-salon1 .grid-muestra-salon2 .seccion-muestra .tarjetas-muestra2 {
        display: none;
    }

    .main-salon .galeria-salon2 {
        height: auto;
    }

    .main-salon .galeria-salon2 .carta-salon img {
        display: none;
    }

    .main-salon .galeria-salon2 {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .main-salon .galeria-salon2 .carta-salon div {
        align-items: center;

    }

    .main-salon .galeria-salon2 .carta-salon div p {
        font-size: 15px;
    }

    .main-salon {
        height: auto;
    }

    .main-salon .muestra-salon .seccion-muestra p {
        font-size: 10px;
        font-weight: 450;
    }

    .main-salon .info-salon {
        background-size: cover;
        height: auto;
    }

    .main-salon .info-salon .info-salon-0 {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: top;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-1 {
        margin: 20px;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-1 h3 {
        font-size: 15px;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-1 p {
        font-size: 15px;
    }

    .main-catering .opciones {
        display: none;
    }

    .main-catering .hero-catering h1 {
        font-size: 20px;
    }
    .main-catering .info-catering h2{
        font-size: 15px;
    }
    .main-catering .candybar h2{
        font-size: 15px;
    }

    .main-servicios .hero-servicios div h1 {
        font-size: 45px;
    }
}

@media screen and (max-width: 410px) {
    .main-index .comida .comida1 div {
        width: 60%;
    }
}

@media screen and (max-width: 360px) {
    .main-index {
        height: auto;
    }

    .main-index .hero p {
        font-size: 10px;
    }

    .main-salon .opinioness {
        background-color: #c300ff;
        display: none;
    }


    .main-salon .info-salon {
        background-size: cover;
        height: auto;
    }

    .main-salon .info-salon .info-salon-0 {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: top;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-1 {
        margin: 20px;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-1 h3 {
        font-size: 12px;
    }

    .main-salon .info-salon .info-salon-0 .info-salon-1 p {
        font-size: 10px;
    }

    .main-catering .hero-catering h1 {
        font-size: 15px;
    }

    .main-catering .hero-catering p {
        font-size: 10px;
    }

    .main-catering .info-catering h2 {
        font-size: 40px;
    }

    .main-catering .candybar h2 {
        font-size: 40px;
    }
    .main-catering .info-catering h2{
        font-size: 20px;
        width: 70%;
    }
    .main-catering .candybar h2{
        font-size: 20px;
        width: 70%;
    }
}